Source: duplicati
Section: utils
Priority: extra
Maintainer: Kenneth Skovhede <kenneth@duplicati.com>
Build-Depends: debhelper (>= 8.0.0)
Standards-Version: 3.9.4
Homepage: http://www.duplicati.com
Vcs-Git: https://github.com/duplicati/duplicati.git

Package: duplicati
Architecture: all
Depends: mono-runtime (>= 3.0), libmono-2.0-1, libmono-system-core4.0-cil, libmono-system-configuration4.0-cil, libmono-system-configuration-install4.0-cil, libmono-system-data4.0-cil, libmono-system-drawing4.0-cil, libmono-system-net4.0-cil, libmono-system-net-http4.0-cil, libmono-system-net-http-webrequest4.0-cil, libmono-system-numerics4.0-cil, libmono-system-runtime-serialization4.0-cil, libmono-system-servicemodel4.0a-cil, libmono-system-servicemodel-discovery4.0-cil, libmono-system-serviceprocess4.0-cil, libmono-system-transactions4.0-cil, libmono-system-web4.0-cil, libmono-system-web-services4.0-cil, libmono-system-xml4.0-cil, libmono-microsoft-csharp4.0-cil, libsqlite3-0 (>= 3.6.12), libappindicator0.1-cil | libappindicator3-0.1-cil, gtk-sharp2
Description: Backup client for encrypted online backups
 Duplicati is a free backup client that securely stores encrypted, incremental, 
 compressed backups on cloud storage services and remote file servers. It 
 supports targets like Amazon S3, Windows Live SkyDrive, Rackspace Cloud Files
 or WebDAV, SSH, FTP (and many more). 
 .
 Duplicati has built-in AES-256 encryption and backups be can signed using GNU 
 Privacy Guard. A built-in scheduler makes sure that backups are always 
 up-to-date. Last but not least, Duplicati provides various options and tweaks 
 like filters, deletion rules, transfer and bandwidth options to run backups 
 for specific purposes.

