<div>
  <div *ngIf="entry && imageurl">
    <div>{{entry.message}}</div>
    <div class="details">
      <img [src]="imageurl" />
      <input type="text" [(ngModel)]="entry.answer" />
      <input type="button" value="Reload" (click)="reload()" />
    </div>

    <div class="centered-text" *ngIf="entry.verifying" translate>Checking ...</div>
    <div class="centered-text warning" *ngIf="!entry.verifying && entry.hasfailed" translate>Incorrect answer, try again</div>

  </div>
  <div *ngIf="!entry || !imageurl" translate>Loading ...</div>
</div>
