<div class="box">
  <div class="headerthreedotmenu">
    <a routerLink="." (click)="expanded = !expanded" class="expandable">
      <ng-content select="[header]"></ng-content>
      <img *ngIf="expanded" src="img/arrow_collapse_green.png" srcset="img/arrow_collapse_green.png 1x, img/arrow_collapse_green_2x.png 2x, img/arrow_collapse_green_3x.png 3x">
      <img *ngIf="!expanded" src="img/arrow_expand_green.png" srcset="img/arrow_expand_green.png 1x, img/arrow_expand_green_2x.png 2x, img/arrow_expand_green_3x.png 3x">
    </a>

    <div class="contextmenu_container" *ngIf="expanded && menu">
      <a routerLink="." [matMenuTriggerFor]="filterMenu" title="Menu"><img src="img/three_dots.png" srcset="img/three_dots.png 1x, img/three_dots_2x.png 2x, img/three_dots_3x.png 3x" id="threedotmenubutton_add_source_folders" class="threedotmenubutton" /></a>

      <mat-menu class="contextmenu" id="threedotmenu_add_source_folders" #filterMenu="matMenu">
        <ng-container [ngTemplateOutlet]="menu.templateRef"></ng-container>
      </mat-menu>
    </div>
  </div>

  <div *ngIf="expanded">
    <ng-content></ng-content>
  </div>
</div>
