bin/
obj/
*.resources
*.userprefs
*.user
*.suo
Installer/Paraffin.exe
Installer/account_info
Duplicati/Localization/compiled
Duplicati/Localization/*/
Duplicati/Localization/*.diff.csv
Duplicati/Localization/*.new.csv
Duplicati/Localization/*.updated.csv
Duplicati/Localization/report.*.xml
Installer/incLocFiles.*.wxs
Duplicati/Server/webroot/extjs-*
Installer/binfiles.wxs
Installer/generated-keys.xml
Installer/oem
Updates/build
packages
changelog-news.txt
binfiles.wxs
.idea/
.vs/

Installer/debian/*.buildinfo
/Installer/Windows/duplicati-2.0.7.3_canary_2023-10-18.zip
/script.bat
