<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <config>
        <add key="repositoryPath" value="packages" />
    </config>
    <packageSources>
        <!--
            This should only be temporary until the freebsd libs are uploaded to nuget.org
        -->
        <add key="Freebsd native libs testing repo" value="https://staticwell.com/nuget/index.json" />
    </packageSources>
</configuration>