<div class="input text">
    <label for="azure_path" translate>Container name</label>
    <input type="text" name="azure_path" id="azure_path" ng-model="$parent.Path" placeholder="{{'Enter container name' | translate}}" />
</div>

<div class="input text">
    <label for="azure_username" translate>Account name</label>
    <input type="text" name="azure_username" id="azure_username" ng-model="$parent.Username" placeholder="{{'Enter account name' | translate}}" />
</div>
<div class="input password">
    <label for="azure_password" translate>Access Key</label>
    <input autocomplete="new-password" type="password" name="azure_password" id="azure_password" ng-model="$parent.Password" placeholder="{{'Enter access key' | translate}}" />
</div>
