<div class="input text">
    <label for="azure_path">Container name</label>
    <input type="text" name="azure_path" id="azure_path" ng-model="$parent.Path" placeholder="Enter container name" />
</div>

<div class="input text">
    <label for="azure_username">Account name</label>
    <input type="text" name="azure_username" id="azure_username" ng-model="$parent.Username" />
</div>
<div class="input password">
    <label for="azure_password">Access Key</label>
    <input type="text" name="azure_password" id="azure_password" ng-model="$parent.Password" />
</div>
