<div class="input text">
    <label for="azure_path">{{'Container name' | localize}}</label>
    <input type="text" name="azure_path" id="azure_path" ng-model="$parent.Path" placeholder="{{'Enter container name' | localize}}" />
</div>

<div class="input text">
    <label for="azure_username">{{'Account name' | localize}}</label>
    <input type="text" name="azure_username" id="azure_username" ng-model="$parent.Username" placeholder="{{'Enter account name' | localize}}" />
</div>
<div class="input password">
    <label for="azure_password">{{'Access Key' | localize}}</label>
    <input type="password" name="azure_password" id="azure_password" ng-model="$parent.Password" placeholder="{{'Enter access key' | localize}}" />
</div>
