<div class="input text">
    <label for="b2_bucket">{{'Bucket name' | localize}}</label>
    <input type="text" id="b2_bucket" ng-model="$parent.Server" placeholder="{{'Bucket name' | localize}}" />
</div>

<div class="input text">
    <label for="b2_path">{{'Folder path' | localize}}</label>
    <input type="text" name="b2_path" id="b2_path" ng-model="$parent.Path" placeholder="{{'Path or subfolder in the bucket' | localize}}" />
</div>

<div class="input text">
    <label for="b2_username">{{'B2 Account ID' | localize}}</label>
    <input type="text" name="b2_username" id="b2_username" ng-model="$parent.Username" placeholder="{{'B2 Cloud Storage Account ID' | localize}}" />
</div>
<div class="input password">
    <label for="b2_password">{{'B2 Application Key' | localize}}</label>
    <input type="password" name="b2_password" id="b2_password" ng-model="$parent.Password" placeholder="{{'B2 Cloud Storage Application Key' | localize}}" />
</div>
