<div class="input text overlayButton">
    <label for="file_path">Folder path</label>
    <input type="text" name="file_path" id="file_path" ng-model="$parent.Path" placeholder="Enter the destination path" />
    <a href id="file_targetFolderPathAdd" class="button">Browse</a>
</div>

<div class="input text">
    <label for="file_username">Username</label>
    <input type="text" name="file_username" id="file_username" ng-model="$parent.Username" />
</div>
<div class="input password">
    <label for="file_password">Password</label>
    <input type="text" name="file_password" id="file_password" ng-model="$parent.Password" />
</div>
