<div ng-show="SupportsSSL" class="input checkbox multple">
    <input type="checkbox" id="s3_ssl" ng-model="$parent.UseSSL" />
    <label for="generic_ssl">Use SSL</label>
</div >

<div class="input text">
    <label for="generic_server">Server and port</label>
    <input type="text" style="width: 345px" name="generic_server" id="generic_server" ng-model="$parent.Server" placeholder="Server hostname or IP" />
    <input type="text" style="width: 50px" name="generic_port" id="generic_port" ng-model="$parent.Port" placeholder="Port" />
</div>

<div class="input text">
    <label for="generic_path">Path on server</label>
    <input type="text" name="generic_path" id="generic_path" ng-model="$parent.Path" placeholder="Enter the destination path" />
</div>

<div class="input text">
    <label for="generic_username">Username</label>
    <input type="text" name="generic_username" id="generic_username" ng-model="$parent.Username" placeholder="Authentication username"  />
</div>
<div class="input password">
    <label for="generic_password">Password</label>
    <input type="password" name="generic_password" id="generic_password" ng-model="$parent.Password" placeholder="Authentication password"  />
</div>
