<div class="input text">
    <label for="idrive_path" translate>IDrive Sync directory path</label>
    <input type="text" name="idrive_path" id="idrive_path" ng-model="$parent.Path" placeholder="{{'Enter directory path' | translate}}" />
</div>

<div class="input text">
    <label for="idrive_username" translate>Username</label>
    <input type="text" name="idrive_username" id="idrive_username" ng-model="$parent.Username" placeholder="{{'Username' | translate}}" />
</div>
<div class="input password">
    <label for="idrive_password" translate>Password</label>
    <input autocomplete="new-password" type="password" name="idrive_password" id="idrive_password" ng-model="$parent.Password" placeholder="{{'Password' | translate}}" />
</div>
