<div class="input text">
    <label for="mega_path" translate>Folder path</label>
    <input type="text" name="mega_path" id="mega_path" ng-model="$parent.Path" placeholder="{{'Enter folder path name' | translate}}" />
</div>

<div class="input text">
    <label for="mega_username" translate>Username</label>
    <input type="text" name="mega_username" id="mega_username" ng-model="$parent.Username" placeholder="{{'Username' | translate}}" />
</div>
<div class="input password">
    <label for="mega_password" translate>Password</label>
    <input autocomplete="new-password" type="password" name="mega_password" id="mega_password" ng-model="$parent.Password" placeholder="{{'Password' | translate}}" />
</div>
