<div class="input text">
    <label for="openstack_path">Bucket name</label>
    <input type="text" name="openstack_path" id="openstack_path" ng-model="$parent.Path" placeholder="bucket/folder/subfolder" />
</div>

<div class="input text">
    <label for="openstack_server">OpenStack Authuri</label>

    <select name="openstack_server" id="openstack_server" ng-model="$parent.openstack_server" ng-options="v as k + ' (' + v + ')' for (k, v) in openstack_providers | orderBy: k">
        <option value="">Custom server url ({{openstack_server_custom}})</option>
    </select>

    <input ng-hide="contains_value(openstack_providers, openstack_server)" type="text" id="openstack_server_custom" ng-model="$parent.openstack_server_custom" />

</div>

<div class="input text">
    <label for="openstack_username">Username</label>
    <input type="text" name="openstack_username" id="openstack_username" ng-model="$parent.Username" />
</div>
<div class="input password">
    <label for="openstack_password">Password</label>
    <input type="text" name="openstack_password" id="openstack_password" ng-model="$parent.Password" />
</div>

<div class="input text">
    <label for="openstack_tenantname">Tenant Name</label>
    <input type="text" name="openstack_tenantname" id="openstack_tenantname" ng-model="$parent.openstack_tenantname" placeholder="optional tenant name" />
</div>

<div class="input text">
    <label for="openstack_apikey">API Key</label>
    <input type="text" name="openstack_apikey" id="openstack_apikey" ng-model="$parent.openstack_apikey" placeholder="optional api key" />
</div>

<div class="input text">
    <label for="openstack_region">Container region</label>
    <input type="text" name="openstack_region" id="openstack_region" ng-model="$parent.openstack_region" placeholder="optional region" />
</div>
