<div class="input text">
    <label for="rclone_local_repository" translate>Local repository</label>
    <input type="text" id="rclone_local_repository" ng-model="$parent.rclone_local_repository" placeholder="{{'local'}}" />
</div>
<div class="input text">
    <label for="remote_repository" translate>Remote repository</label>
    <input type="text" name="remote_repository" id="remote-repository" ng-model="$parent.remote_repository" placeholder="{{'remote'}}" />
</div>
<div class="input password">
    <label for="remote_path" translate>Remote path</label>
    <input type="text" name="remote_path" id="remote_path" ng-model="$parent.remote_path" placeholder="{{'backup'}}" />
</div>
<div class="input text">
    <label for="option_rclone" translate>Rclone options</label>
    <input type="text" name="option_rclone" id="option_rclone" ng-model="$parent.option_rclone" placeholder="{{''}}" />
</div>
