<div class="input checkbox multple">
    <input type="checkbox" id="s3_ssl" ng-model="$parent.UseSSL" />
    <label for="s3_ssl">Use SSL</label>
</div >

<div class="input select">

    <label for="s3_server">Server</label>

    <select name="s3_server" id="s3_server" ng-model="$parent.s3_server" ng-options="v as k + ' (' + v + ')' for (k, v) in s3_providers | orderBy: k">
        <option value="">Custom server url ({{s3_server_custom}})</option>
    </select>

    <input ng-hide="contains_value(s3_providers, s3_server)" type="text" id="s3_server_custom" ng-model="$parent.s3_server_custom" placeholder="Custom S3 endpoint"/>

</div>

<div class="input text">
    <label for="s3_bucket">Bucket name</label>
    <input type="text" id="s3_bucket" ng-model="$parent.Server" placeholder="Bucket name" />
</div>


<div class="input select">

    <label for="s3_region">Bucket create region</label>

    <select name="s3_region" id="s3_region" ng-model="$parent.s3_region" ng-options="v as k + ' (' + v + ')' for (k, v) in s3_regions | orderBy: k" title="The region parameter is only applied when creating a new bucket">
        <option value="">Custom region value</option>
    </select>

    <input ng-hide="contains_value(s3_regions, s3_region)" type="text" id="s3_region_custom" ng-model="$parent.s3_region_custom" placeholder="Custom region for creating buckets"/>

</div>

<div class="input select">

    <label for="s3_storageclass">Storage class</label>

    <select name="s3_storageclass" id="s3_storageclass" ng-model="$parent.s3_storageclass" ng-options="v as k + ' (' + v + ')' for (k, v) in s3_storageclasses | orderBy: k" title="The storage class affects the availability and price for a stored file">
        <option value="">Custom storage class</option>
    </select>

    <input ng-hide="contains_value(s3_storageclasses, s3_storageclass)" type="text" id="s3_storageclass_custom" ng-model="$parent.s3_storageclass_custom" placeholder="Custom bucket storage class"/>

</div>

<div class="input text">
    <label for="s3_path">Folder path</label>
    <input type="text" name="s3_path" id="s3_path" ng-model="$parent.Path" placeholder="Path or subfolder in the bucket" />
</div>

<div class="input text">
    <label for="s3_username">AWS Access ID</label>
    <input type="text" name="s3_username" id="s3_username" ng-model="$parent.Username" placeholder="AWS Access ID" />
</div>
<div class="input password">
    <label for="s3_password">AWS Access Key</label>
    <input type="text" name="s3_password" id="s3_password" ng-model="$parent.Password" placeholder="AWS Access Key" />
</div>

<div class="buttons">
    <a href ng-click="s3_createIAMPolicy()" ng-show="$parent.s3_server == 's3.amazonaws.com'" >Generate IAM access policy</a>
</div>
