<div class="input checkbox multple">
    <input type="checkbox" id="s3_ssl" ng-model="$parent.UseSSL" />
    <label for="s3_ssl">Use SSL</label>
</div >

<div class="input select">

    <label for="s3_server">Server</label>

    <select name="s3_server" id="s3_server" ng-model="$parent.s3_server" ng-options="v as k + ' (' + v + ')' for (k, v) in s3_providers | orderBy: k">
        <option value="">Custom server url ({{s3_server_custom}})</option>
    </select>

    <input ng-hide="contains_value(s3_providers, s3_server)" type="text" id="s3_server_custom" ng-model="$parent.s3_server_custom" />

</div>

<div class="input text">
    <label for="s3_bucket">Bucket name</label>
    <input type="text" id="s3_bucket" ng-model="$parent.Server" />
</div>


<div class="input select">

    <label for="s3_region">Bucket create region</label>

    <select name="s3_region" id="s3_region" ng-model="$parent.s3_region" ng-options="v as k + ' (' + v + ')' for (k, v) in s3_regions | orderBy: k">
        <option value="">Custom region value</option>
    </select>

    <input ng-hide="contains_value(s3_regions, s3_region)" type="text" id="s3_region_custom" ng-model="$parent.s3_region_custom" />

</div>

<div class="input checkbox multple">
    <input type="checkbox" id="s3_rrs" ng-model="$parent.s3_rrs" />
    <label for="s3_rrs">Use RRS</label>
</div >

<div class="input text">
    <label for="s3_path">Folder path</label>
    <input type="text" name="s3_path" id="s3_path" ng-model="$parent.Path" />
</div>

<div class="input text">
    <label for="s3_username">AWS Access ID</label>
    <input type="text" name="s3_username" id="s3_username" ng-model="$parent.Username" />
</div>
<div class="input password">
    <label for="s3_password">AWS Access Key</label>
    <input type="text" name="s3_password" id="s3_password" ng-model="$parent.Password" />
</div>
