<div class="input text">
    <label for="storx_username" translate>Username</label>
    <input type="text" name="storx_username" id="storx_username" ng-model="$parent.Username" placeholder="{{'Username' | translate}}" />
</div>
<div class="input password">
    <label for="storx_password" translate>Password</label>
    <input autocomplete="new-password" type="password" name="storx_password" id="storx_password" ng-model="$parent.Password" placeholder="{{'Password' | translate}}" />
</div>
<div class="input text">
    <label for="storx_path" translate>Folder </label>
    <input type="text" name="storx_path" id="storx_path" ng-model="$parent.Path" placeholder="{{'Enter folder name(Optional)' | translate}}" />
</div>
