<div class="input password">
    <label for="storx_secretkeye" translate>
        SecretKey
    </label>
    <input type="password" name="storx_secretkeye" id="storx_secretkeye" ng-model="$parent.SecretKey" placeholder="{{'SecretKey' | translate}}" />
</div>
<div class="input password">
    <label for="storx_secretmnemonic" translate>SecretMnemonic</label>
    <input autocomplete="new-password" type="password" name="storx_secretmnemonic" id="storx_secretmnemonic" ng-model="$parent.SecretMnemonic" placeholder="{{'SecretMnemonic' | translate}}" />
</div>
<div class="input text">
    <label for="storx_path" translate>Folder </label>
    <input type="text" name="storx_path" id="storx_path" ng-model="$parent.Path" placeholder="{{'Enter folder name(Optional)' | translate}}" />
</div>
