<div class="input text">
    <label for="tardigrade_satellite" translate>Satellite</label>
    <input type="text" id="tardigrade_satellite" ng-model="$parent.tardigrade_satellite" placeholder="{{'us-central-1.tardigrade.io:7777'}}" />
</div>
<div class="input text">
    <label for="tardigrad_api_key" translate>API-key</label>
    <input type="text" name="tardigrad_api_key" id="tardigrad_api_key" ng-model="$parent.tardigrad_api_key" placeholder="{{'The API-key' | translate}}" />
</div>
<div class="input password">
    <label for="tardigrade_secret" translate>Secret</label>
    <input type="password" name="tardigrade_secret" id="tardigrade_secret" ng-model="$parent.tardigrade_secret" placeholder="{{'The secret' | translate}}" />
</div>
<div class="input text">
    <label for="tardigrade_shared_access" translate>Shared access</label>
    <input type="text" name="tardigrade_shared_access" id="tardigrade_shared_access" ng-model="$parent.tardigrade_shared_access" placeholder="{{'The shared access key instead of the info above'}}" />
</div>
<div>You may provide the satellite, API-key and secret or a shared access (contains all that info encrypted). If a shared access is provided, the other information is ignored.</div>
