<div class="input text">
    <label for="api_hash" translate>API Hash</label>
    <input type="text" name="api_hash" id="api_hash" ng-model="$parent.api_hash" placeholder="{{' 0123456789abcdef... '}}" />
</div>
<div class="input text">
    <label for="api_id" translate>API ID</label>
    <input type="text" name="api_id" id="api_id" ng-model="$parent.api_id" placeholder="{{' 1234567 '}}" />
</div>
<div class="input text">
    <label for="auth_code" translate>Authentication code</label>
    <input type="text" name="auth_code" id="auth_code" ng-model="$parent.auth_code" placeholder="{{' 12345 '}}" />
</div>
<div class="input text">
    <label for="channel_name" translate>The channel name</label>
    <input type="text" name="channel_name" id="channel_name" ng-model="$parent.channel_name" placeholder="{{' My Backup '}}" />
</div>
<div class="input text">
    <label for="phone_number" translate>The phone number</label>
    <input type="text" name="phone_number" id="phone_number" ng-model="$parent.phone_number" placeholder="{{' +12223334455 '}}" />
</div>
<div class="input password">
    <label for="auth_password" translate>The 2FA password</label>
    <input autocomplete="new-password" type="password" name="auth_password" id="auth_password" ng-model="$parent.auth_password" />
</div>