<div class="importpage">

  <h1 *ngIf="!restoremode" i18n>Import backup configuration</h1>
  <h1 *ngIf="restoremode" i18n>Restore from backup configuration</h1>

  <form enctype="multipart/form-data" id="import-form" class="styled" method="post" [action]="importURL" target="submit-target" #form>

    <div class="input text">
      <label for="file" i18n>Configuration file:</label>
      <input type="file" name="config" id="file" #fileInput />
    </div>

    <div class="input text">
      <label for="passphrase" i18n>Passphrase (if encrypted)</label>
      <input type="password" name="passphrase" id="passphrase" i18n-placeholder placeholder="Enter encryption passphrase" [(ngModel)]="passphrase" />
    </div>

    <div class="input checkbox" *ngIf="!restoremode">
      <label for="import_metadata" i18n>Import metadata</label>
      <input type="checkbox" name="import_metadata" id="import_metadata" [(ngModel)]="importMetadata" />
    </div>

    <div class="input checkbox" *ngIf="!restoremode">
      <label for="direct" i18n>Save immediately</label>
      <input type="checkbox" name="direct" id="direct" value="true" />
    </div>

    <input type="hidden" name="callback" [ngModel]="callbackMethod" />

    <div class="buttons" *ngIf="!connecting">
      <a routerLink="." (click)="doSubmit();form.submit()" i18n>Import</a>
    </div>

    <div class="buttons" *ngIf="connecting">
      <a routerLink="." i18n>Importing …</a>
    </div>
  </form>

  <iframe style="display:none" id="submit-target" name="submit-target"></iframe>
</div>
