<div class="input text">
  <label for="b2_bucket" i18n>Bucket name</label>
  <input type="text" id="b2_bucket" [(ngModel)]="server" i18n-placeholder placeholder="Bucket name" />
</div>

<div class="input text">
  <label for="b2_path" i18n>Folder path</label>
  <input type="text" name="b2_path" id="b2_path" [(ngModel)]="path" i18n-placeholder placeholder="Path or subfolder in the bucket" />
</div>

<div class="input text">
  <label for="b2_username" i18n>B2 Application ID</label>
  <input type="text" name="b2_username" id="b2_username" [(ngModel)]="username" i18n-placeholder placeholder="B2 Cloud Storage Application ID" />
</div>
<div class="input password">
  <label for="b2_password" i18n>B2 Application Key</label>
  <input autocomplete="new-password" type="password" name="b2_password" id="b2_password" [(ngModel)]="password" i18n-placeholder placeholder="B2 Cloud Storage Application Key" />
</div>
