<div>
  <div class="input select">
    <label for="type" translate>Storage Type</label>
    <select name="type" id="type" [ngModel]="backend" (ngModelChange)="setBackend($event)" *ngIf="groupedBackendModules">
      <optgroup [label]="group.key" *ngFor="let group of groupedBackendModules; trackBy: trackGroup">
        <option [ngValue]="b" *ngFor="let b of group.value; trackBy: trackBackend">{{b.DisplayName}}</option>
      </optgroup>

    </select>
  </div>

  <ng-template appEditorHost></ng-template>

  <div *ngIf="editorComponent == null && backend != null">
    <h3 translate>No editor found for the &quot;{{backend.DisplayName}}&quot; storage type</h3>
  </div>

  <div *ngIf="backend == null">
    <h3 translate>Chose a storage type to get started</h3>
  </div>
</div>

<div class="buttons">
  <a routerLink="." *ngIf="!testing" class="test-connection" (click)="testConnection()" translate>Test connection</a>
  <a routerLink="." *ngIf="testing" class="test-connection" translate>Testing …</a>
</div>

<app-expand-box class="input textarea">
  <h2 translate header>Advanced options</h2>
  <ng-template appExpandMenu>
    <button mat-menu-item *ngIf="showAdvancedTextArea" (click)="showAdvancedTextArea = false" translate>Edit as list</button>
    <button mat-menu-item *ngIf="!showAdvancedTextArea" (click)="showAdvancedTextArea = true" translate>Edit as text</button>
  </ng-template>

  <div>
    <div *ngIf="showAdvancedTextArea">
      <label for="targetOptions" translate>Options</label>
      <textarea id="targetOptions" name="targetOptions" appStringArrayText placeholder="{{convert.format(parser.exampleOptionString, '--use-ssl=true')}}" [(ngModel)]="advancedOptions"></textarea>
    </div>

    <app-advanced-options-editor *ngIf="!showAdvancedTextArea" [optionList]="advancedOptionList" [options]="advancedOptions"></app-advanced-options-editor>
  </div>
</app-expand-box>
