/*
 * CSS config for the log window
 */

#log-dialog .log-backupid, #log-dialog .log-exception,
#backup-log-tab-general .log-backupid, #backup-log-tab-general .log-exception, #backup-log-tab-general .log-message,
#backup-log-tab-remote .log-operationid, #backup-log-tab-remote .log-data
{
    display: none;
}

#log-dialog .log-message, #log-dialog .log-timestamp,
#backup-log-tab-general .log-timestamp, #backup-log-tab-general .log-type,
#backup-log-tab-remote .log-timestamp, #backup-log-tab-remote .log-type, #backup-log-tab-remote .log-path
{
    display: inline-block;
    cursor: pointer;
}

#log-dialog .expanded div.log-exception,
#backup-log-tab-general .expanded div.log-exception, #backup-log-tab-general .expanded div.log-message,
#backup-log-tab-remote .expanded div.log-data
{
    display: block;
    background-color: #ffffff;
    padding-left: 5px;
    padding-right: 5px;
}

#log-tab-live .log-entry .log-message
{
    display: inline;
}


#log-tab-live .log-entry
{
    height: 1.2em;
    overflow: hidden;
}

#log-tab-live .log-entry.expanded
{
    height: auto;
}






