<div class="input text">
    <label for="jottacloud_path" translate>Folder path</label>
    <input type="text" name="jottacloud_path" id="jottacloud_path" ng-model="$parent.Path" placeholder="{{'Enter folder path name' | translate}}" />
</div>

<div class="input text">
    <label for="jottacloud_username" translate>Username</label>
    <input type="text" name="jottacloud_username" id="jottacloud_username" ng-model="$parent.Username" placeholder="{{'Username' | translate}}" />
</div>
<div class="input password">
    <label for="jottacloud_password" translate>Password</label>
    <input type="password" name="jottacloud_password" id="jottacloud_password" ng-model="$parent.Password" placeholder="{{'Password' | translate}}" />
</div>
