<div class="mainmenu menu" [class.mobile-open]="openOnMobile" id="mainmenu">
  <ul>
    <li>
      <a class="home" routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}" ariaCurrentWhenActive="page" i18n>Home</a>
    </li>
    <li>
      <a class="add" routerLink="/addstart" routerLinkActive="active" ariaCurrentWhenActive="page" i18n>Add backup</a>
    </li>
    <li>
      <a routerLink="/restorestart" routerLinkActive="active" ariaCurrentWhenActive="page" class="restore" i18n>Restore</a>
    </li>
    <li *ngIf="state.programState != 'Running'">
      <a href="javascript:void(0)" (click)="resume()" id="resume" class="resume" i18n>Resume</a>
    </li>
    <li>
      <a routerLink="/settings" class="settings" routerLinkActive="active" ariaCurrentWhenActive="page" i18n>Settings</a>
    </li>
    <li>
      <a routerLink="/about" class="about" routerLinkActive="active" ariaCurrentWhenActive="page" i18n>About</a>
    </li>
    <li [hidden]="!isLoggedIn">
      <a href="javascript:void(0)" (click)="logOut()" class="logout" i18n>Log out</a>
    </li>
  </ul>
</div>
