<div class="mainmenu menu" id="mainmenu">
  <ul>
    <li>
      <a routerLink="/" class="home" [class]="{active: current_page == 'home'}" translate>Home</a>
    </li>
    <li>
      <a class="add" routerLink="/addstart" [class]="{active: current_page == 'add'}" translate>Add backup</a>
    </li>
    <li>
      <a routerLink="/restorestart" [class]="{active: current_page == 'restore'}" class="restore" translate>Restore</a>
    </li>
    <li [hidden]="state?.programState == 'Running'">
      <a href (click)="resume()" id="resume" class="resume" translate>Resume</a>
    </li>
    <li>
      <a routerLink="/settings" class="settings" [class]="{active: current_page == 'settings'}" translate>Settings</a>
    </li>
    <li>
      <a routerLink="/about" class="about" [class]="{active: current_page == 'about'}" translate>About</a>
    </li>
    <li [hidden]="!isLoggedIn">
      <a href (click)="log_out()" class="logout" translate>Log out</a>
    </li>
  </ul>
</div>
