<!-- Copyright (c) .NET Foundation and contributors. All rights reserved. Licensed under the Microsoft Reciprocal License. See LICENSE.txt file in this directory for full license information. -->


<Wix xmlns="http://wixtoolset.org/schemas/v4/wxs">
    <Fragment>
        <UI>
            <Dialog Id="ErrorDlg" Width="270" Height="105" Title="[ProductName] Setup" ErrorDialog="yes">
                <Control Id="ErrorText" Type="Text" X="48" Y="15" Width="205" Height="60" TabSkip="no" NoPrefix="yes" Text="Information text" />
                <Control Id="Y" Type="PushButton" X="100" Y="80" Width="56" Height="17" TabSkip="yes" Text="Yes">
                    <Publish Event="EndDialog" Value="ErrorYes" />
                </Control>
                <Control Id="A" Type="PushButton" X="100" Y="80" Width="56" Height="17" TabSkip="yes" Text="Cancel">
                    <Publish Event="EndDialog" Value="ErrorAbort" />
                </Control>
                <Control Id="C" Type="PushButton" X="100" Y="80" Width="56" Height="17" TabSkip="yes" Text="Cancel">
                    <Publish Event="EndDialog" Value="ErrorCancel" />
                </Control>
                <Control Id="ErrorIcon" Type="Icon" X="15" Y="15" Width="24" Height="24" ToolTip="yes" FixedSize="yes" IconSize="32" Text="WixUI_Ico_Info" />
                <Control Id="I" Type="PushButton" X="100" Y="80" Width="56" Height="17" TabSkip="yes" Text="Ignore">
                    <Publish Event="EndDialog" Value="ErrorIgnore" />
                </Control>
                <Control Id="N" Type="PushButton" X="100" Y="80" Width="56" Height="17" TabSkip="yes" Text="No">
                    <Publish Event="EndDialog" Value="ErrorNo" />
                </Control>
                <Control Id="O" Type="PushButton" X="100" Y="80" Width="56" Height="17" TabSkip="yes" Text="OK">
                    <Publish Event="EndDialog" Value="ErrorOk" />
                </Control>
                <Control Id="R" Type="PushButton" X="100" Y="80" Width="56" Height="17" TabSkip="yes" Text="Retry">
                    <Publish Event="EndDialog" Value="ErrorRetry" />
                </Control>
            </Dialog>

            <Property Id="ErrorDialog" Value="ErrorDlg" />
        </UI>
    </Fragment>
</Wix>
