<!-- Copyright (c) .NET Foundation and contributors. All rights reserved. Licensed under the Microsoft Reciprocal License. See LICENSE.txt file in this directory for full license information. -->


<Wix xmlns="http://wixtoolset.org/schemas/v4/wxs">
    <Fragment>
        <UI>
            <Property Id="WixUIRMOption" Value="UseRM" />
            <Dialog Id="MsiRMFilesInUse" Width="370" Height="270" Title="[ProductName] Setup" KeepModeless="yes">
                <Control Id="OK" Type="PushButton" X="240" Y="243" Width="56" Height="17" Default="yes" Text="OK">
                    <Publish Event="EndDialog" Value="Return" />
                    <Publish Event="RMShutdownAndRestart" Value="0" Condition="WixUIRMOption~=&quot;UseRM&quot;" />
                </Control>
                <Control Id="Cancel" Type="PushButton" X="304" Y="243" Width="56" Height="17" Cancel="yes" Text="Cancel">
                    <Publish Event="EndDialog" Value="Exit" />
                </Control>

                <Control Id="ShutdownOption" Type="RadioButtonGroup" X="26" Y="190" Width="305" Height="45" Property="WixUIRMOption">
                    <RadioButtonGroup Property="WixUIRMOption">
                        <RadioButton Value="UseRM" X="0" Y="0" Width="295" Height="16" Text="Close the applications and attempt to restart them." />
                        <RadioButton Value="DontUseRM" X="0" Y="20" Width="295" Height="16" Text="Do not close applications. A reboot will be required." />
                    </RadioButtonGroup>
                </Control>

                <Control Id="List" Type="ListBox" X="20" Y="100" Width="330" Height="80" Property="FileInUseProcess" Sunken="yes" TabSkip="yes" />
                <Control Id="BannerBitmap" Type="Bitmap" X="0" Y="0" Width="370" Height="44" TabSkip="no" Text="WixUI_Bmp_Banner" />
                <Control Id="Text" Type="Text" X="20" Y="55" Width="330" Height="45" Text="The following applications are using files that need to be updated by this setup. You can let Setup Wizard close them and attempt to restart them or reboot the machine later." />
                <Control Id="BannerLine" Type="Line" X="0" Y="44" Width="370" Height="0" />
                <Control Id="BottomLine" Type="Line" X="0" Y="234" Width="370" Height="0" />
                <Control Id="Description" Type="Text" X="20" Y="23" Width="280" Height="20" Transparent="yes" NoPrefix="yes" Text="Some files that need to be updated are currently in use." />
                <Control Id="Title" Type="Text" X="15" Y="6" Width="200" Height="15" Transparent="yes" NoPrefix="yes" Text="{\WixUI_Font_Title}Files in Use" />
            </Dialog>
        </UI>
    </Fragment>
</Wix>
