<div class="add">
  <div class="steps">
    <a class="step step1" [routerLink]="[{step: 0}]" routerLinkActive="active" [routerLinkActiveOptions]="isActiveOptions">
      <span>1</span>
    </a>
    <a class="step step2" [routerLink]="[{step: 1}]" routerLinkActive="active" [routerLinkActiveOptions]="isActiveOptions">
      <span>2</span>
    </a>
    <a class="step step3" [routerLink]="[{step: 2}]" routerLinkActive="active" [routerLinkActiveOptions]="isActiveOptions">
      <span>3</span>
    </a>
    <a class="step step4" [routerLink]="[{step: 3}]" routerLinkActive="active" [routerLinkActiveOptions]="isActiveOptions">
      <span>4</span>
    </a>
    <a class="step step5" [routerLink]="[{step: 4}]" routerLinkActive="active" [routerLinkActiveOptions]="isActiveOptions">
      <span>5</span>
    </a>
  </div>
  <!-- .steps -->

  <ol class="steps-legend">
    <li class="step1" [routerLink]="[{step: 0}]" routerLinkActive="active" [routerLinkActiveOptions]="isActiveOptions" translate>General</li>
    <li class="step2" [routerLink]="[{step: 1}]" routerLinkActive="active" [routerLinkActiveOptions]="isActiveOptions" translate>Destination</li>
    <li class="step3" [routerLink]="[{step: 2}]" routerLinkActive="active" [routerLinkActiveOptions]="isActiveOptions" translate>Source Data</li>
    <li class="step4" [routerLink]="[{step: 3}]" routerLinkActive="active" [routerLinkActiveOptions]="isActiveOptions" translate>Schedule</li>
    <li class="step5" [routerLink]="[{step: 4}]" routerLinkActive="active" [routerLinkActiveOptions]="isActiveOptions" translate>Options</li>
  </ol>
  <!-- .steps-legend -->
  <div class="steps-boxes">
    <div class="step step1" [hidden]="CurrentStep !== 0">
      <app-backup-general-settings [(backup)]="backup" [(options)]="options" (next)="nextStep()"></app-backup-general-settings>
    </div>
    <div class="step step2" [hidden]="CurrentStep !== 1">
      <app-backup-destination-settings [(backup)]="backup" [(options)]="options" (next)="nextStep()" (prev)="prevStep()"></app-backup-destination-settings>
    </div>
    <div class="step step3" [hidden]="CurrentStep !== 2">
      <app-backup-source-settings [(backup)]="backup" (next)="nextStep()" (prev)="prevStep()"></app-backup-source-settings>
    </div>
    <div class="step step4" [hidden]="CurrentStep !== 3">
      <app-backup-schedule [(schedule)]="schedule" (next)="nextStep()" (prev)="prevStep()"></app-backup-schedule>
    </div>
    <div class="step step5" [hidden]="CurrentStep !== 4">
      <app-backup-options [(options)]="options" (prev)="prevStep()" (save)="save()"></app-backup-options>
    </div>
  </div>
  <!-- .steps-boxes -->
</div>

<ng-template #step1>
</ng-template>
