<div class="restore" [class]="{'restore-direct': isBackupTemporary}">

  <form id="restore" class="styled">
    <!-- Use hidden instead of ngIf to preserve the state at step 3 -->
    <app-steps *ngIf="isBackupTemporary" [hidden]="restoreStep >= 2">
      <ng-template [appStep]="0" i18n-name name="Backup location" enabled="false">
      </ng-template>
      <ng-template [appStep]="1" i18n-name name="Encryption" enabled="false">
      </ng-template>
      <ng-template [appStep]="2" i18n-name name="Select files">
        <app-restore-select-files [hidden]="connecting" [isBackupTemporary]="isBackupTemporary" [backupId]="backupId" [restoreStep]="restoreStep" [connecting]="connecting" [filesets]="filesets" [(selected)]="selected"
                                  (restoreStamp)="restoreStamp=$event"
                                  (connectionProgress)="setProgressDelay($event)" (next)="onClickNext()" (prev)="onClickBack()"></app-restore-select-files>
      </ng-template>
      <ng-template [appStep]="3" i18n-name name="Restore options" [enabled]="selected.length > 0">
        <app-restore-location [backup]="backup" (restore)="onStartRestore($event)" (prev)="restoreStep = 0"></app-restore-location>
      </ng-template>
    </app-steps>

    <app-steps *ngIf="!isBackupTemporary" [hidden]="restoreStep >= 2">
      <ng-template [appStep]="0" i18n-name name="Select files">
        <app-restore-select-files [hidden]="connecting" [isBackupTemporary]="isBackupTemporary" [backupId]="backupId" [restoreStep]="restoreStep" [connecting]="connecting" [filesets]="filesets" [(selected)]="selected"
                                  (restoreStamp)="restoreStamp=$event"
                                  (connectionProgress)="setProgressDelay($event)" (next)="onClickNext()" (prev)="onClickBack()"></app-restore-select-files>
      </ng-template>
      <ng-template [appStep]="1" i18n-name name="Restore options" [enabled]="selected.length > 0">
        <app-restore-location [backup]="backup" (restore)="onStartRestore($event)" (prev)="restoreStep = 0"></app-restore-location>
      </ng-template>
    </app-steps>

    <div *ngIf="restoreStep == 3 && connecting == false">
      <h3>
        <span class="hint-text" i18n>Your files and folders have been restored successfully.</span>
        <span [hidden]="systemInfo?.SuppressDonationMessages">
          <span id="restore-hint-donate" class="hint-text" i18n>Did we help save your files? If so, please consider supporting Duplicati with a donation. We suggest {{smallamount}} for private use and {{largeamount}} for commercial use.</span>
          <span id="restore-hint-donate" class="hint-text"><a href="https://www.duplicati.com/donate" target="blank" i18n>We accept donations via different services, such as OpenCollective, PayPal, BountySource and various crypto currencies.</a></span>
        </span>
      </h3>
      <div class="buttons">
        <a routerLink="/" class="submit" i18n>OK</a>
      </div>
    </div>

    <div *ngIf="connecting == true && taskid != null">
      <app-wait-area [taskid]="taskid" [text]="connectionProgress" allowCancel="true"></app-wait-area>
    </div>

    <div *ngIf="connecting == true && taskid == null">
      {{connectionProgress}}
    </div>
  </form>
</div>
