<form class="styled">
  <div class="box browser">
    <div class="headerthreedotmenu">
      <h2 i18n>Source data</h2>

      <div class="contextmenu_container">
        <a routerLink="." [matMenuTriggerFor]="sourceMenu" title="Menu"><img src="img/three_dots.png" srcset="img/three_dots.png 1x, img/three_dots_2x.png 2x, img/three_dots_3x.png 3x" id="threedotmenubutton_add_source_folders" class="threedotmenubutton" /></a>

        <mat-menu class="contextmenu" id="threedotmenu_add_source_folders" #sourceMenu="matMenu">
          <button mat-menu-item *ngIf="!editSourceAdvanced" (click)="editSourceAdvanced = true" i18n>Show advanced editor</button>
          <button mat-menu-item *ngIf="editSourceAdvanced" (click)="editSourceAdvanced = false" i18n>Show treeview</button>
        </mat-menu>
      </div>
    </div>

    <div class="input checklinks">
      <a routerLink="." [class.inactive]="editSourceAdvanced" (click)="showhiddenfolders = !showhiddenfolders">
        <i class="fa {{showhiddenfolders ? 'fa-check' : ''}}"></i> <ng-container i18n>Show hidden folders</ng-container>
      </a>
    </div>
    <div class="resizable" [hidden]="editSourceAdvanced">
      <app-source-folder-picker class="filepicker" [(sources)]="sources" [(filters)]="filters" [showHidden]="showhiddenfolders" [excludeAttributes]="excludeAttributes" [excludeSize]="excludeFileSize"></app-source-folder-picker>
    </div>
    <div class="input textarea" *ngIf="editSourceAdvanced">
      <label for="SourcePathList" i18n>Source folders</label>
      <textarea id="SourcePathList" name="SourcePathList" appStringArrayText [(ngModel)]="sources" [ngModelOptions]="{updateOn: 'blur'}"></textarea>
    </div>
    <div class="input text overlayButton">
      <input type="text" name="sourcePath" id="sourcePath" i18n-placeholder placeholder="Add a path directly" [(ngModel)]="manualSourcePath" [disabled]="validatingSourcePath" />
      <button id="sourceFolderPathAdd" class="button" [disabled]="validatingSourcePath || manualSourcePath == null || manualSourcePath == ''" (click)="addManualSourcePath()">
        <span *ngIf="validatingSourcePath" i18n>Validating …</span>
        <span *ngIf="!validatingSourcePath" i18n>Add path</span>
      </button>
    </div>
  </div>
  <app-expand-box class="box filters">
    <h2 i18n header>Filters</h2>
    <ng-template appExpandMenu>
      <button mat-menu-item *ngIf="editFilterAdvanced" (click)="editFilterAdvanced = false" i18n>Edit as list</button>
      <button mat-menu-item *ngIf="!editFilterAdvanced" (click)="editFilterAdvanced = true" i18n>Edit as text</button>
    </ng-template>

    <div class="input textarea" *ngIf="editFilterAdvanced">
      <!--<label for="FilterList">Filters <span class="info">i</span></label>-->
      <textarea id="FilterList" name="FilterList" appStringArrayText [(ngModel)]="filters" [ngModelOptions]="{updateOn: 'blur'}"></textarea>
    </div>

    <div class="input textarea" [hidden]="editFilterAdvanced">
      <app-backup-filter-list [(filters)]="filters"></app-backup-filter-list>
    </div>
  </app-expand-box>
  <app-expand-box class="box excludes">
    <h2 i18n header>Exclude</h2>

    <div class="input checkbox multiple">
      <div *ngFor="let attr of fileAttributes">
        <input id="fileattr_{{attr.value}}"
               type="checkbox"
               name="fileattr_{{attr.value}}"
               [value]="attr.value"
               [ngModel]="attributeExcluded(attr.value)"
               (ngModelChange)="excludeAttribute(attr.value,$event)" />
        <label for="fileattr_{{attr.value}}">{{attr.name}}</label>
      </div>
    </div>

    <div class="input text select multiple">
      <input name="exclude-large-files" id="exclude-large-files" type="checkbox" class="simple-checkbox" [(ngModel)]="excludeLargeFiles" />
      <label for="exclude-large-files" i18n>Files larger than:</label>

      <input type="number" [(ngModel)]="fileSizeInput" name="exclude-larger-than-number" id="exclude-larger-than-number" [disabled]="!excludeLargeFiles" />
      <select name="exclude-larger-than-multiplier" id="exclude-larger-than-multiplier" [(ngModel)]="fileSizeMultiplier" [disabled]="!excludeLargeFiles">
        <option [value]="item.value.toUpperCase()" *ngFor="let item of fileSizeMultipliers">{{item.name}}</option>
      </select>
    </div>
  </app-expand-box>
  <div class="buttons">
    <input class="submit next" type="button" id="nextStep3" (click)="next.emit()" i18n-value value="Next &gt;" />
    <input class="submit prev" type="button" id="prevStep3" (click)="prev.emit()" i18n-value value="&lt; Previous" />
  </div>
</form>
