#!/usr/bin/make -f
# -*- makefile -*-
# Sample debian/rules that uses debhelper.
#
# This file was originally written by Joey Hess and Craig Small.
# As a special exception, when this file is copied by dh-make into a
# dh-make output file, you may use that output file without restriction.
# This special exception was added by Craig Small in version 0.37 of dh-make.
#
# Modified to make a template file for a multi-binary package with separated
# build-arch and build-indep targets  by Bill Allombert 2001

# Uncomment this to turn on verbose mode.
export DH_VERBOSE=1
VERBOSE := 1
# This has to be exported to make some magic below work.
export DH_OPTIONS
export VERSION

%:
	dh $@

override_dh_clean:
	dh_clean
	#dotnet clean does stupid things with nuget, so just delete the folders
	find /sources -type d -name bin | xargs rm -rf
	find /sources -type d -name obj | xargs rm -rf

override_dh_auto_build:
	dotnet publish -c Release --runtime=linux-x64  -p:DefineConstants=ENABLE_GTK -o build/lib/duplicati/ /sources/Duplicati.sln

override_dh_auto_install:
	mkdir build/bin
	mkdir build/share
	mkdir build/share/applications
	mkdir build/share/pixmaps
	ln -sf /usr/lib/duplicati/Duplicati.GUI.TrayIcon build/bin/duplicati
	ln -sf /usr/lib/duplicati/Duplicati.CommandLine build/bin/duplicati-cli
	ln -sf /usr/lib/duplicati/Duplicati.Server build/bin/duplicati-server
	cp /sources/Tools/Verification/DuplicatiVerify.py build/lib/duplicati/
	cp /sources/Installer/debian/duplicati.desktop build/share/applications
	cp /sources/Installer/debian/duplicati.xpm build/share/pixmaps
	cp /sources/Installer/debian/duplicati.png build/share/pixmaps
	cp /sources/Installer/debian/duplicati.svg build/share/pixmaps	
	rm -rf build/lib/duplicati/win-tools
	rm -rf build/lib/duplicati/OSX\ Icons
	rm -rf build/lib/duplicati/OSXTrayHost
	rm -rf build/lib/duplicati/licenses/MonoMac
	rm -rf build/lib/duplicati/licenses/gpg
	find build/lib/duplicati/* -type f | xargs chmod 644
	find build/lib/duplicati/* -type d | xargs chmod 755
	find build/lib/duplicati/* -type f -name \*.sh | xargs chmod 755
	find build/lib/duplicati/* -type f -name \*.py | xargs chmod 755
	chmod 755 build/lib/duplicati/Duplicati.GUI.TrayIcon
	chmod 755 build/lib/duplicati/Duplicati.CommandLine
	chmod 755 build/lib/duplicati/Duplicati.Server
	dh_install

override_dh_systemd_enable:
	dh_systemd_enable --no-enable
