/*
 * Common style config
 */

body {
    background-color: #f0f0f0;
    border: 0px none;
    margin: 0px;
    padding: 0px;
    font-family: 'Source Sans Pro', sans-serif;
    min-width: 320px;
    font-size: 75%;
}

.content-wrap {
    margin: 0 auto;
    max-width: 700px;
    box-sizing: border-box;
}

.content-wrap.padded {
    padding-left: 20px;
    padding-right: 20px;
}

.ui-widget {
    font-family: 'Source Sans Pro', sans-serif;
}

.action-link, .action-links li {
    text-decoration: underline;
    color: #56acbb;
    font-size: 12pt;
    cursor: pointer;
}

.hint-text {
    color: #9b9b9b;
    font-size: 12pt;
}

.hint-text-caption {
    font-weight: bold;
    color: #9b9b9b;
    font-size: 12pt;
}

.caption-text {
    color: #68845f;
    font-weight: bold;
    font-size: 18pt;
}

.progressbar-background {
    background-color: #b1bead;
}

.menu {
    background-color: rgba(255, 255, 255, 0.9);
    position: absolute;
    display: none;
    list-style: none;
    border: 1px solid #9b9b9b;
    margin: 0px;
    padding: 0px;
    border-radius: 3px;
    white-space: nowrap;
    z-index: 10000;
}

.menu li {
    cursor: pointer;
}

.large-loader-icon {
    width: 66px;
    height: 66px;
    margin: auto;
    background: url('../images/ajax-loader-66.gif') center center no-repeat;
}

.medium-loader-icon {
    width: 32px;
    height: 32px;
    background: url("../images/ajax-loader-32.gif") center center no-repeat;
}

.small-loader-icon {
    width: 16px;
    height: 16px;
    background: url("../images/ajax-loader-16.gif") center center no-repeat;
}

.button-area {
    float: right;
    padding-bottom: 10px;
    padding-top: 10px;
}

.clearfix {
    clear: both;
}

.password-strength-0 {
    color: #ff0000
}

.password-strength-1 {
    color: #ff7700
}
.password-strength-2 {
    color: #aaaa00
}

.password-strength-3 {
    color: #007700
}

.password-strength-4 {
    color: #427e27;
}

.password-strength-unknown {
    color: #999999
}

.password-mismatch {
    color: #ff0000;
}

a.jstree-anchor > i.icon-file.jstree-icon {
    background-image: url('/images/generic-file.png');
    background-position: 0px 0px;
}

a.jstree-anchor > i.icon-clock.jstree-icon {
    background-image: url('/images/clock.png');
    background-position: 0px 0px;
}

a.jstree-anchor > i.icon-file.jstree-icon.icon-file-log { background-image: url('/control.cgi?action=get-system-icon&ext=log'); }
