/*
 * Common style config
 */

body {
    border: 0px none;
    margin: 0px;
    padding: 0px;
    font-family: Arial;
    min-width: 320px;
    font-size: 75%;
}

.ui-widget {
    font-family: Arial;
}

.action-link, .action-links li {
    text-decoration: underline;
    color: #56acbb;
    font-size: 12pt;
    cursor: pointer;
}

.hint-text {
    color: #9b9b9b;
    font-size: 12pt;
}

.hint-text-caption {
    font-weight: bold;
    color: #9b9b9b;
    font-size: 12pt;
}

.caption-text {
    color: #68845f;
    font-weight: bold;
    font-size: 18pt;
}

.progressbar-background {
    background-color: #b1bead;
}

.menu {
    background-color: rgba(255, 255, 255, 0.8);
    position: absolute;
    display: none;
    list-style: none;
    border: 1px solid #9b9b9b;
    margin: 0px;
    padding: 0px;
    border-radius: 3px;
    z-index: 10000;
}

.menu li {
    padding: 5px 10px 5px 10px;
    background-color: #ffffff;
    cursor: pointer;
}

.menu li.menu-sep {
    border-top: 1px solid;
    padding: 0px 10px 0px 10px;
}

.large-loader-icon {
    width: 66px;
    height: 66px;
    background-repeat: no-repeat;
    margin: auto;
    background-image: url('../images/ajax-loader-big.gif');
}

.small-loader-icon {
    width: 32px;
    height: 32px;
    background-repeat: no-repeat;
    background-image: url('../images/ajax-loader-small.gif');
}

.button-area {
    float: right;
    padding-bottom: 10px;
    padding-top: 10px;
}

.clearfix {
    clear: both;
}

.password-strength-0 {
    color: #ff0000
}

.password-strength-1 {
    color: #ff7700
}
.password-strength-2 {
    color: #aaaa00
}

.password-strength-3 {
    color: #007700
}

.password-strength-4 {
    color: #00ff00
}

.password-strength-unknown {
    color: #999999
}

.password-mismatch {
    color: #ff0000;
}