body
{
	border: 0px none;
	margin: 0px;
	padding: 0px;
	width: 100%;
	height: 100%;
}

.modal-cover
{
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	width: 100%;
	height: 100%;
	
	background-color: #000000;
	opacity: 0.6;
	filter: alpha(opacity = 60);
	z-index: 9999;
}

.loader
{
	position: absolute;
	top: 48%;
	left: 48%;
	background-image: url('../gfx/spinner.gif');
	padding-left: 36px;
	padding-top: 10px;
	padding-right: 8px;
	z-index: 10000;
	background-repeat: no-repeat;
	background-position: 0px 3px;
	height: 32px;
	background-color: white;
}

.even { background-color: #efefef;  }
.odd { background-color: #ffffff;  }
.link
{
	color: darkblue;
	text-decoration: underline;
	cursor: pointer;
}


.vertical-center { margin: 0px auto; }
