/*
 * CSS config for the edit dialog
 */

 .edit-dialog label:before {
    clear: both;
 }

.edit-dialog {
    float: left;
}

 .edit-dialog label {
    min-width: 250px;
    display: inline-block;
 }

 .edit-dialog-label {
    min-width: 200px;
    line-height: 26px;
    clear: both;
    float: left;
 }

.edit-dialog input, .edit-dialog textarea, .edit-dialog select {
    background: none;
    border-color: #c0c0c0;
}

.edit-dialog input, .edit-dialog select {
    width: 330px;
}

.edit-dialog textarea {
    max-width: 330px;
    width: 330px;
}

.input-block {
    clear: both;
    margin-top: 10px;
    overflow: hidden;
    position: relative;
}

.edit-tab-general > .input-block:first-child {
    margin-top: 0;
}

.field-group {
    display: inline-block;
}

.button-area {
    clear: both;
    position: absolute;
    bottom: 0px;
    right: 0px;
    float: right;
}

.inline-links {
    margin: 0;
    padding: 0;
}

.inline-links > li {
    border-left: 1px solid #7d7d7d;
    display: inline-block;
    margin: 0;
    padding: 0 10px;
}

.inline-links > li:first-child {
    border-left: none;
    padding-left: 5px;
}

.field-group .inline-links {
    margin-top: 5px;
}

#encryption-area {
    clear: both;
}

#backend-type {
    width: 140px;
}

#server-port {
    width: 80px;
}

#server-name {
    width: 165px;
}

#server-use-ssl {
    width: auto;
    margin-left: 10px;
}

.checkbox-label {
    display: inline-block;
    margin-top: 2px;
}

#source-folder-paths {
    margin-top: 10px;
    position: relative;

    padding: 10px;
    background-color: lightgray;
    margin-bottom: 10px;
    border-radius: 3px;
    overflow: hidden;
}

#source-folder-paths.empty {
    padding: 20px;
}

#source-folder-paths > div.source-folder {
    padding: 5px 25px 5px 5px;
    background-color: white;
    border-radius: 3px;
    display: inline-block;
    margin: 8px;
    position: relative;
    float: left;
}

#source-folder-paths > div.source-folder .focused, #source-folder-paths > div.source-folder:hover {
    /*background-color: grey;
    color: black;*/
}

#source-folder-paths > div.source-folder.path-valid {
}

#source-folder-paths > div.source-folder.path-invalid {
    background-color: #ffcccc;
}


.source-folder-close-icon {
    width: 16px;
    height: 16px;
    background-position: -80px -128px;
    background-image: url(green-theme/images/ui-icons_365724_256x240.png);
    background-repeat: no-repeat;
    position: absolute;
    top: 5px;
    right: 5px;
    cursor: pointer;
}

.source-folder-close-icon:hover {
    background-color: red;
}

#source-folder-browser {
    clear: both;
    /*height: 160px;*/
    overflow: auto;
}

#source-folder-path-text {
    /*max-width: 205px;*/
    width: 70%;
    margin-top: 6px;
}

#source-folder-path-add {
    margin-right: 0px;
    float: right;
}

#source-folder-droptarget {
    width: 100%;
    height: 100%;
    position: absolute;
    display: block;
    top: 0;
    left: 0;
}

#use-scheduled-run {
    float: left;
    width: auto;
    margin-right: 10px;
}

#next-run-time, #next-run-date, #repeat-run-number, #repeat-run-multiplier, #dblock-size-number, #dblock-size-multiplier {
    width: 165px;
}

 input.simple-checkbox {
    width: auto;
    float: none;
}

.days-label {
    display: inline-block;
}

.input-wrapper {
    float: left;
}

.hint-line-last {
    margin-bottom: 20px;
}

#edit-tab-schedule > div.clearfix, #edit-tab-options > div.clearfix {
    height: 10px;
}

#edit-dialog {
    width: 100%;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
}

.ui-tabs-nav {
    border-top-right-radius: 0px;
    border-top-left-radius: 0px;
}

.edit-dialog-hint-text {
    width: 100%;
}

#source-folder-paths.file-drag-target {
    background-color: #00ff00;
}

#backup-options-link div.ui-icon-info, #server-options-label div.ui-icon-info {
    display: inline-block;
}

#server-options {
    max-width: none;
    width: 100%;
}

.backup-option-name {
    font-weight: bold;
    color: darkgreen;
}

.backup-option-short, .backup-option-type, .backup-option-default {
    display: inline;
}

.backup-option-summary, .backup-option-long {
    margin-left: 5px;
}

.backup-option-long {
    margin-top: 5px;
    margin-bottom: 10px;
}

input.server-path-file {
    width: 275px;
}

input.browse-button {
    padding-top: 0px;
    padding-bottom: 0px;
    width: auto;
}