body 
{
	font-size: 12px;
}

.edit-window-tab-header 
{
	padding-top: 8px;
	padding-bottom: 12px;
	font-weight: bold;
	font-size: 28px;
}

.edit-window-link
{
	color: darkblue;
	text-decoration: underline;
	cursor: pointer;
}

.edit-window-hidden
{
	display: none;
}

#edit-window-general-tab, #edit-window-source-tab, #edit-window-target-tab, #edit-window-schedule-tab
{
	height: 350px;
}

#edit-window-general-tab
{
	width: 400px;
	padding-bottom: 60px;
}

#edit-window-source-tab 
{
	width: 540px;
	padding-bottom: 40px;
}

#edit-window-target-tab 
{
	width: 400px;
	padding-bottom: 40px;
}

#edit-window-schedule-tab 
{
	width: 400px;
	padding-bottom: 40px;
}

.edit-window-group-header
{
	font-size: 16px;
	font-weight: bold;
	padding-bottom: 10px;
}

.edit-window-mini-header
{
	font-size: 12px;
	font-weight: bold;
	padding-top: 5px;
	padding-bottom: 5px;
}

.edit-window-field-control
{
	width: 200px;
	float: right;
}

.edit-window-field-label
{
	float: left;
}

.edit-window-field-checkbox
{
	float: left;
}

.edit-window-label-extra
{
	float: right;
}

.edit-window-short-text
{
	width: 40px;
}

.edit-window-duration-range
{
	width: 80px;
	margin-left: 5px;
}

.edit-window-no-duration
{
	margin-right: 85px;
}

.edit-window-field-box, #edit-window-encryption-helptext, #edit-window-filters, #edit-window-space-settings, #edit-window-number-of-backups, #edit-window-number-of-fulls, #edit-window-schedule-missed
{ 
	clear: both;
}

#edit-window-encryption-helptext 
{
	padding-top: 10px;
	padding-bottom: 20px;
	font-style: italic;
}

#edit-window-filters-wizard-helptext
{
	padding-top: 10px;
	padding-bottom: 20px;
}

#edit-window-space-settings-helptext
{
	padding-top: 10px;
	padding-bottom: 20px;
}

#edit-window-filters-wizard-hide, #edit-window-hide-space-settings
{
	display: inline;
}

#edit-window-filters-wizard-exclude
{
	padding-top: 10px;
}

#edit-window-additional-locations-add
{
	padding-top: 10px;
}

#edit-window-filters-preview
{
	padding-top: 10px;
	float: right;
}

#edit-window-encryption-passphrase-generate
{
	clear: both;
	padding-top: 10px;
	float: right;
}

#edit-window-schedule-missed
{
	padding-top: 10px;
}

#edit-window-number-of-fulls-always, #edit-window-number-of-fulls-count, #edit-window-number-of-fulls-every, #edit-window-number-of-fulls-never, #edit-window-number-of-backups-count, #edit-window-number-of-backups-time, #edit-window-schedule-missed-ask, #edit-window-schedule-missed-soon, #edit-window-schedule-missed-next, #edit-window-schedule-times-days, #edit-window-schedule-times-interval, #edit-window-schedule-times-time
{
	margin-left: 20px;
}

#edit-window-standard-locations 
{
	width: 300px;
}

#edit-window-filters, #edit-window-additional-locations 
{
	margin-top: 25px;
}

#edit-window-filters-preview
{
	margin-top: 10px;
}

#edit-window-filters-header, #edit-window-filters-add, #edit-window-filters-copy
{
	display: inline;
}