/*
 * CSS config for the edit dialog
 */

 .edit-dialog label:before {
    clear: both;
 }

.edit-dialog {
    float: left;
}

 .edit-dialog label {
    min-width: 250px;
    display: inline-block;
 }

 .edit-dialog-label {
    min-width: 250px;
    clear: both;
    float: left;
 }

.edit-dialog input, .edit-dialog textarea, .edit-dialog select {
    float: left;
    background: none;
    border-color: #c0c0c0;
}

.edit-dialog input, .edit-dialog select {
    width: 250px;
}

.edit-dialog textarea {
    width: 248px;
}

.input-hint {
    padding-top: 20px;
    padding-bottom: 8px;
    clear:  both;
}

.field-group {
    display: inline-block;
}

.action-link-input:before {
    clear: both;
}
.action-link-input {
    float: left;
}

.backup-password-generate {
    float: right;
}

.backup-password-strength {
    margin-top: 20px;
    float: right;
}

.button-area {
    clear: both;
    position: absolute;
    bottom: 0px;
    right: 0px;
    float: right;
}

#backend-type {
    width: 140px;
}

#server-port {
    width: 80px;
}

#server-name {
    width: 165px;
}

#server-use-ssl {
    width: auto;
    margin-left: 10px;
}

.checkbox-label {
    display: inline-block;
    margin-top: 2px;
}

#source-folder-paths {
    margin-top: 10px;
    position: relative;

    padding: 10px;
    background-color: lightgray;
    margin-bottom: 10px;
    border-radius: 3px;
    overflow: hidden;
}

#source-folder-paths.empty {
    padding: 20px;
}

#source-folder-paths > div.source-folder {
    padding: 5px 25px 5px 5px;
    background-color: white;
    border-radius: 3px;
    display: inline-block;
    margin: 8px;
    position: relative;
    float: left;
}

#source-folder-paths > div.source-folder .focused, #source-folder-paths > div.source-folder:hover {
    /*background-color: grey;
    color: black;*/
}

#source-folder-paths > div.source-folder.path-valid {
}

#source-folder-paths > div.source-folder.path-invalid {
    background-color: #ffcccc;
}


.source-folder-close-icon {
    width: 16px;
    height: 16px;
    background-image: url('../images/clock.png');
    position: absolute;
    top: 5px;
    right: 5px;
    cursor: pointer;
}

.source-folder-close-icon:hover {
    background-color: red;
}

#source-folder-browser {
    clear: both;
    /*height: 160px;*/
    overflow: auto;
}

#source-folder-path-text {
    /*max-width: 205px;*/
    width: 70%;
}

#source-folder-path-add {
    margin-right: 0px;
    float: right;
}

#source-folder-droptarget { 
    width: 100%;
    height: 100%;
    position: absolute;
    display: block;
    top: 0;
    left: 0;
}

#use-scheduled-run {
    width: auto;
    margin-right: 10px;
}

#next-run-time, #next-run-date, #repeat-run-number, #repeat-run-multiplier, #dblock-size-number, #dblock-size-multiplier {
    width: 120px;
}

 input.simple-checkbox {
    width: auto;
    float: none;
}

.days-label {
    display: inline-block;
}

.input-wrapper {
    float: left;
}

.hint-line-last {
    margin-bottom: 20px;
}

#edit-tab-schedule > div.clearfix, #edit-tab-options > div.clearfix {
    height: 10px;
}

#edit-dialog {
    width: 100%;
}

.ui-tabs-nav {
    border-top-right-radius: 0px;
    border-top-left-radius: 0px;
}

.edit-dialog-hint-text {
    width: 100%;
}

#source-folder-paths.file-drag-target {
    background-color: #00ff00;
}
