/*
 * CSS config for the main window
 */

#main-topbar {
    position: absolute;
    left: 0px;
    right: 0px;
    height: 46px;
    background-color: #3a5e30;
    color: #9dab98;
    vertical-align: middle;
}

#main-list {
    padding-top: 82px;
    overflow: auto;
}

#main-list-container {
    background-color: #f3f3f3;
    overflow: hidden;
    min-height: calc(100vh - 82px);
}

#main-appname {
    display: inline-block;
    font-family: "Arial Black", "GillSans", Helvetica, Arial, sans-serif;
    font-size: 24px;
    font-weight: bold;
    line-height: 46px;
    text-transform: uppercase;
}

#main-appname.has-subtitle {
    padding-top: 5px;
    font-size: 16pt;
}

#main-appname-subtitle {
    font-size: 7em;
    font-weight: normal;
    font-style: italic;
}

#main-newbackup {
    color: white;
    padding: 6px 12px 6px 12px;
    cursor: pointer;
    border-radius: 3px;
    display: inline-block;
    font-size: 12pt;
    clear: both;
    float: left;
    margin-top: 40px;
    margin-bottom: 40px;
}

#main-control-menu {
    margin-right: 10px;
}

.main-shortcuts {
    float: right;
    padding-top: 8px;
    padding-right: 8px;
    margin: 0px;
    padding-left: 0px;
    list-style: none;
}

.main-shortcuts li {
    padding-left: 8px;
    padding-right: 4px;
    cursor: pointer;
    background-color: #3a5e30;
    display: inline-block;
}

.main-backup-entry, #main-newbackup {
    margin-top: 20px;
    clear: both;
}

.main-backup-entry .action-links {
    display: block;
    margin-top: 10px;
    padding-left: 0px;
}

.main-backup-entry ul.hint-text, #main-newbackup > ul.hint-text {
    list-style: none;
    padding: 0px;
    margin: 0px;
}
.main-backup-entry ul.hint-text > li, #main-newbackup > ul.hint-text > li {
    display: inline-block;
}

.main-backup-entry .action-links li {
    display: inline;
    border-right: 1px solid #56acbb;
    padding-left: 5px;
    padding-right: 5px;
}

.main-backup-entry .action-links .last {
    border-right: 0px none;
    padding-right: 0px;
}

.main-backup-entry .action-links .first {
    padding-left: 0px;
}

.main-backup-entry .hint-text-caption {
    padding-right: 5px;
}

.main-backup-entry .caption-text, #main-newbackup .caption-text {
    margin-bottom: 10px;
}

.main-backup-entry > .last-run-time.last-run-failed {
    color: red;
}

div.main-icon-plus {
    width: 23px;
    height: 23px;
    display: block;
    background-repeat: no-repeat;
    background-image: url('../images/plus.png');
}

.main-icon-clock {
    width: 23px;
    height: 23px;
    background-repeat: no-repeat;
    background-image: url('../images/clock.png');
}

.main-icon-donate {
    width: 28px;
    height: 28px;
    background-repeat: no-repeat;
    background-image: url('../images/donate.png');
}

.main-icon-hourglass {
    width: 18px;
    height: 24px;
    background-repeat: no-repeat;
    background-image: url('../images/hourglass.png');
}

.main-icon-pause {
    width: 28px;
    height: 28px;
    background-repeat: no-repeat;
    background-image: url('../images/pause.png');
}

.main-icon-run {
    width: 28px;
    height: 28px;
    background-repeat: no-repeat;
    background-image: url('../images/play.png');
}

.main-icon-settings {
    width: 28px;
    height: 28px;
    background-repeat: no-repeat;
    background-image: url('../images/menu-grey.png');
}

.main-icon-small-close {
    width: 19px;
    height: 19px;
    background-repeat: no-repeat;
    background-image: url('../images/small-close');
}

#main-newbackup .main-icon-plus {
    display: inline-block;
}

.main-backup-control {
    display: block;
    width: 28px;
    height: 28px;
    margin-left: 0px;
    margin-top: 4px;
    position: absolute;
    background-image: url('../images/menu-grey.png');
}

.main-backup-entry .caption-text, .main-backup-entry ul.hint-text, #main-newbackup > .caption-text, #main-newbackup > ul.hint-text {
    margin-left: 42px;
}

.main-button-add-text {
    display: inline-block;
    vertical-align: top;
    padding-left: 10px;
    padding-top: 4px;
}

.progress-area {
    background-color: #c8d1c5;
    color: #8f968e;
    border-radius: 3px;
    display: block;
    padding: 6px 12px 6px 12px;
    display: block;
    position: relative;
}

.in-progress {
    color: #ecf0eb;
    min-height: 23px;
}

.main-progress-cell {
    width: 100%;
}

.progress-area .main-icon-hourglass, .progress-area .main-icon-clock {
    display: inline-block;
    margin-right: 8px;
}

.main-progress-text {
    display: inline-block;
    vertical-align: top;
    padding-top: 4px;
    white-space: nowrap;
    position: relative;
}

.backup-progress-indeterminate {
    background-image: url('green-theme/images/animated-overlay.gif');
}

.backup-progress-overall {
    border-radius: 3px;
    display: block;
    height: 100%;
    width: 20%;
    background-color: green;
    display: block;
    position: absolute;
    top: 0px;
    left: 0;

}
.backup-details {
    float: left;
    width: 300px;
}

.backup-progress {
    float: left;
    padding-bottom: 20px;
    min-width: 250px;
    white-space: nowrap;
    position: relative;
}

#edit-dialog {
    padding: 0px;
    border: 0px none;
}

/* Merge tabs in dialog */
#backup-log-dialog, #log-dialog, #about-dialog {
    padding: 0px;
    border: 0px none;
    width: 100%;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
}

.ui-dialog-titlebar {
    border-bottom-right-radius: 0px;
    border-bottom-left-radius: 0px;
}

textarea.pre-style-text, .pre-style-text {
    white-space: nowrap; 
    overflow: auto;
    font-family: "Courier New", Courier, monospace;
}

#click-intercept {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    display: none;
    z-index: 9999;
}

#about-dialog-current {
    margin-bottom: 10px;
    margin-top: 10px;
}

.about-library-entry {
    margin-bottom: 10px;
    margin-top: 10px;
}

.about-library-name {
    font-weight: bold;
}

.about-library-name, .about-library-description, .about-library-license {
    display: inline;
}

.about-library-notes {
    display: none;
}

.main-status-area-outer {
    position:  absolute;
    top: 46px;
    left: 0px;
    right: 0px;
    height: auto;
    z-index: 1;
    overflow: hidden;
    background-color: #91AA8A;
}

#main-status-area {
    font-size: 14px;
    margin-left: auto;
    margin-right: auto;
    height: 20px;
    padding: 8px 0;
    color: #f0f0f0;
}

#main-status-area-text {
    display: inline-block;
    min-width: 100px;
}

#main-status-area-progress-text {
    position: relative;
    z-index: 1;
    margin-left: 5px;
    margin-right: 5px;
    text-shadow:
        -1px -1px 0 #f0f0f0,
         1px -1px 0 #f0f0f0,
        -1px  1px 0 #f0f0f0,
         1px  1px 0 #f0f0f0;
}

#main-status-area-progress-outer {
    background-color: #f0f0f0;
    min-width: 180px;
    margin-left: 20px;
    float: right;
    position: relative;
    color: #3a5e30;
    border-radius: 100px;
    overflow: hidden;
}

#main-status-area-cancel-button {
    height: 19px;
    width: 19px;
    float: right;
    background-image: url('../images/small-close.png');
    cursor: pointer;
}

#main-status-area-progress-bar {
    border-radius: 100px;
    position: absolute;
    background-color: #ccc;
    height: 100%;
    width: 30%;
}

#about-dialog-current-version {
    display: inline;
}

#about-dialog-changelog, .noty-update-changelog-link {
    display: inline;
    cursor: pointer;
    text-decoration: underline;
}

.export-dialog-label, .import-dialog-label {
    display: inline;
}
