#restore-dialog {
    overflow: hidden;
}

#restore-files-tree {
    overflow: auto;
    position: absolute;
    top: 58px;
    bottom: 16px;
    left: 16px;
    right: 8px;
}

#restore-search {
    width: 320px;
}

#restore-version {
    float: right;
}

.search-match {
    display: inline;
    font-weight: bold;
    color: black;
}

#restore-hint-paypal, #restore-hint-bitcoin {
    background-color: #9b9b9b;
    color: black;
    padding: 20px;
    border-radius: 8px;
    font-weight: bold;
    margin: 20px;
    cursor: pointer;
}

#restore-complete-page > .hint-text {
    margin: 20px;    
}

#restore-hint-paypal > a, #restore-hint-bitcoin > a {
    color: black;
    text-decoration: none;
}

a.restore-current-time {
    font-weight: bold !important;
    color: black !important;
}

#restore-search-loader {
    display: inline-block;
    margin-left: 10px;
}

