body 
{
	min-width: 675px;
    min-height: 200px;
}

.modal-cover
{
	min-width: 675px;
    min-height: 200px;
    display: block;
}

.status-window-toolbar-item
{
	margin: 3px;
	float: right;
	margin-top: 7px;
	margin-right: 5px;
	padding: .5em 1em;
	cursor: pointer;

}

#status-window-toolbar
{
	height: 50px;
	width: 100%;
	position: absolute;
	top: 0px;
	left: 0px;
	z-index: 100;
}

#status-window-main-logo
{
	float: left;
	padding: .5em 1em;
	margin-left: 2px;
	cursor: pointer;
}

#status-window-news
{
	height: 100%;
	line-height: 44px; /* Center vertically */
	margin-left: 10px;
	float: left;
	cursor: pointer;
}

#status-window-outer
{
	height: 100%;
}

#status-window-main-contents
{
	width: 100%;
	overflow: auto;	
    display: block;
    position: absolute;
    height: auto;
    bottom: 0;
    top: 0;
    left: 0;
    right: 0;
    margin-top: 50px;
    margin-bottom: 25px;
}

#status-window-footer
{
	height: 25px;
	width: 100%;
	position: absolute;
	bottom: 0px;
	left: 0px;
	z-index: 99;
	margin: 0px;
}

#status-window-footer-inner
{
	padding: 3px;
}

#list-of-backups
{
	width: 800px;
	margin: auto;
	border-right: 2px solid black;
	border-left: 2px solid black;
}

#logo-button
{
	height: 100%;
	margin-left: 5px;
	margin-right: 5px;
}

.appname
{
	padding-left: 5px;
	padding-right: 5px;
	font-size: 1.6em;
	font-weight: bold;
	float: left;
}

.drop-arrow
{
	margin-top: 12px;
	margin-left: 8px;
	margin-right: 5px;
}

.backup-schedule
{
	align: center;
	font-weight: 1.6em;
	padding: 20px;
}

.backup-schedule-inner
{
	width: 800px;
	height: 80px;
	margin: auto;
	border: 1px solid red;
}

.status-window-name-bubble
{
	width: 240px;
}

.status-window-row
{
	height: 120px; 
	padding-top: 10px; 
	padding-bottom: 10px;
}

.status-window-row-inner
{
	width: 33%; 
	height: 100%; 
	float: left;
	vertical-align: middle;
}

.status-window-row-inner-left
{
	text-align: right; 
}

.status-window-row-inner-middle
{
	text-align: center; 
}

.status-window-row-inner-right
{
	text-align: left;
}

.status-window-row-inner-content
{
	padding-right: 20px; 
	padding-left: 20px; 
	padding-top: 30px;
}

.status-window-detail-area
{
	margin-top: -1px; 
	padding-top: 11px; 
	padding-bottom: 10px; 
	padding-left: 10px; 
	padding-right: 10px; 
	min-width: 220px;
}