<div id="connection-lost-blocker" *ngIf="connectionState !== 'connected'" class="blocker"></div>

<div id="connection-lost-dialog" *ngIf="connectionState !== 'connected'" class="connection-lost">
  <div class="info">
    <div class="title" translate>Connection lost</div>
    <div class="content" *ngIf="connectionState !=='connecting'" translate>
      <!--translate-params-time="(state.connectionAttemptTimer + 1000) | timeremaining"-->
      The connection to the server is lost, attempting again in {{connectionTimer}} ...
    </div>
    <div class="content" translate *ngIf="connectionState === 'connecting'">
      Connecting to server …
    </div>
    <div class="content buttons">
      <a routerLink="." *ngIf="connectionState !== 'connecting'" (click)="doReconnect()" class="button" translate>Connect now</a>
      <a routerLink="." *ngIf="connectionState === 'connecting'" class="button" style="cursor: default;" translate>Connecting...</a>
    </div>
  </div>
</div>
