@font-face {
  font-family: 'Clear Sans';
  src: url('../fonts/ClearSans-Light-webfont.eot');
  src: url('../fonts/ClearSans-Light-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/ClearSans-Light-webfont.woff') format('woff'), url('../fonts/ClearSans-Light-webfont.ttf') format('truetype'), url('../fonts/ClearSans-Light-webfont.svg#clear_sans_lightregular') format('svg');
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: 'Clear Sans';
  src: url('../fonts/ClearSans-Regular-webfont.eot');
  src: url('../fonts/ClearSans-Regular-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/ClearSans-Regular-webfont.woff') format('woff'), url('../fonts/ClearSans-Regular-webfont.ttf') format('truetype'), url('../fonts/ClearSans-Regular-webfont.svg#clear_sansregular') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Clear Sans';
  src: url('../fonts/ClearSans-Medium-webfont.eot');
  src: url('../fonts/ClearSans-Medium-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/ClearSans-Medium-webfont.woff') format('woff'), url('../fonts/ClearSans-Medium-webfont.ttf') format('truetype'), url('../fonts/ClearSans-Medium-webfont.svg#clear_sans_mediumregular') format('svg');
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: 'Clear Sans';
  src: url('../fonts/ClearSans-Bold-webfont.eot');
  src: url('../fonts/ClearSans-Bold-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/ClearSans-Bold-webfont.woff') format('woff'), url('../fonts/ClearSans-Bold-webfont.ttf') format('truetype'), url('../fonts/ClearSans-Bold-webfont.svg#clear_sansbold') format('svg');
  font-weight: 700;
  font-style: normal;
}
form.styled label {
  display: block;
  width: 190px;
  float: left;
  line-height: 37px;
}
form.styled input,
form.styled textarea,
form.styled select {
  color: #8f8f8f;
  font-size: 16px;
  font-weight: 300;
  float: left;
  display: block;
  border: 1px #d8d8d8 solid;
  border-radius: 2px;
  width: 420px;
}
form.styled input:focus,
form.styled textarea:focus,
form.styled select:focus {
  border: 1px #a5a5a5 solid;
}
form.styled .input {
  padding-bottom: 18px;
  overflow: hidden;
}
form.styled .input.text input,
form.styled .input.password input {
  height: 35px;
  line-height: 35px;
  padding: 0 12px;
}
form.styled .input.text.text-browse input {
  width: 375px;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  border-right: 0;
}
form.styled .input.text.text-browse a.browse {
  width: 45px;
  display: block;
  float: left;
  height: 37px;
  border-radius: 2px;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  color: white;
  background: #65b1dd;
  line-height: 37px;
}
form.styled .input.text.text-browse a.browse:hover {
  background: #2881b4;
}
form.styled .input.textarea textarea {
  height: 130px;
  padding: 10px 12px;
}
form.styled .input.select select {
  width: 446px;
  padding: 10px 12px;
}
form.styled .buttons {
  overflow: hidden;
  float: right;
}
form.styled .buttons input,
form.styled .buttons a {
  display: block;
  background: #65b1dd;
  color: white !important;
  padding: 5px 15px;
  float: right;
  margin-left: 10px;
  cursor: pointer;
  width: auto;
  border: none;
  font-family: 'Clear Sans', sans-serif;
  font-size: 16px;
  font-weight: 300;
  border-radius: 0;
}
form.styled .buttons input {
  padding: 4px 15px;
}
form.styled .buttons input:hover,
form.styled .buttons a:hover {
  background: #23729f;
}
* {
  font-family: 'Clear Sans', sans-serif;
}
html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
}
h1,
h2 {
  font-weight: 300;
  color: #81c401;
}
h1 {
  margin: 10px 0;
}
h3 {
  font-weight: 400;
}
a {
  text-decoration: none;
}
ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
a.button {
  display: block;
  background: #65b1dd;
  color: white !important;
  padding: 5px 15px;
  float: right;
  margin-left: 10px;
  cursor: pointer;
  width: auto;
  border: none;
  font-family: 'Clear Sans', sans-serif;
  font-size: 16px;
  font-weight: 300;
  border-radius: 0;
}
a.button:hover {
  background: #3b9cd4;
}
body {
  color: #8f8f8f;
}
body .container {
  min-height: 100%;
  position: relative;
}
body .container .header {
  height: 70px;
  line-height: 70px;
  background: #ededed;
  overflow: hidden;
}
body .container .header a {
  color: #8f8f8f;
}
body .container .header a:hover,
body .container .header a.active {
  color: #4f4f4f;
}
body .container .header .logo {
  font-size: 30px;
  font-weight: 700;
  float: left;
  padding-left: 50px;
}
body .container .header .about-header {
  float: right;
  padding-right: 20px;
  overflow: hidden;
}
body .container .header .about-header ul {
  overflow: hidden;
  list-style: none;
}
body .container .header .about-header ul li {
  float: right;
  padding-right: 20px;
}
body .container .body {
  width: 100%;
  overflow: hidden;
  min-height: 500px;
  padding-top: 50px;
  padding-bottom: 70px;
}
body .container .body a {
  color: #65b1dd;
}
body .container .body .mainmenu {
  width: 260px;
  padding-left: 40px;
  float: left;
}
body .container .body .mainmenu ul li {
  position: relative;
}
body .container .body .mainmenu ul li a {
  font-size: 22px;
  font-weight: 300;
  padding: 5px 10px 5px 55px;
  display: block;
}
body .container .body .mainmenu ul li a:hover,
body .container .body .mainmenu ul li a.active {
  color: white;
}
body .container .body .mainmenu ul li a.add {
  background: url('../img/mainmenu/add.png') no-repeat 8px 11px;
}
body .container .body .mainmenu ul li a.restore {
  background: url('../img/mainmenu/restore.png') no-repeat 8px 11px;
}
body .container .body .mainmenu ul li a.pause {
  background: url('../img/mainmenu/pause.png') no-repeat 8px 11px;
}
body .container .body .mainmenu ul li a.settings {
  background: url('../img/mainmenu/settings.png') no-repeat 8px 11px;
}
body .container .body .mainmenu ul li a.log {
  background: url('../img/mainmenu/log.png') no-repeat 8px 11px;
}
body .container .body .mainmenu ul li a.add:hover,
body .container .body .mainmenu ul li a.add.active {
  background: #65b1dd url('../img/mainmenu/over/add.png') no-repeat 8px 11px;
}
body .container .body .mainmenu ul li a.restore:hover,
body .container .body .mainmenu ul li a.restore.active {
  background: #65b1dd url('../img/mainmenu/over/restore.png') no-repeat 8px 11px;
}
body .container .body .mainmenu ul li a.pause:hover,
body .container .body .mainmenu ul li a.pause.active {
  background: #65b1dd url('../img/mainmenu/over/pause.png') no-repeat 8px 11px;
}
body .container .body .mainmenu ul li a.settings:hover,
body .container .body .mainmenu ul li a.settings.active {
  background: #65b1dd url('../img/mainmenu/over/settings.png') no-repeat 8px 11px;
}
body .container .body .mainmenu ul li a.log:hover,
body .container .body .mainmenu ul li a.log.active {
  background: #65b1dd url('../img/mainmenu/over/log.png') no-repeat 8px 11px;
}
body .container .body .mainmenu ul li ul {
  position: absolute;
  left: 200px;
  top: 25px;
  background: white;
  border: 1px #ededed solid;
  box-shadow: 0px 7px 15px rgba(0, 0, 0, 0.2);
  z-index: 200;
}
body .container .body .mainmenu ul li ul li a {
  color: #8f8f8f;
  font-size: 15px;
  font-weight: 400;
  padding: 0;
  display: block;
  width: 205px;
  padding: 4px 10px;
}
body .container .body .mainmenu ul li ul li a:hover,
body .container .body .mainmenu ul li ul li a.active {
  background: #65b1dd;
  color: white;
}
body .container .body .mainmenu ul li.hr-top {
  padding-top: 25px;
  margin-top: 25px;
  border-top: 1px #ededed solid;
}
body .container .body .content {
  float: left;
  padding-left: 50px;
  padding-bottom: 50px;
  max-width: 700px;
}
body .container .body .content .state {
  color: #81c401;
  width: 575px;
  padding: 13px 15px;
  border: 1px #81c401 solid;
  font-weight: 300;
  font-size: 18px;
}
body .container .body .content .state strong {
  display: inline-block;
  margin-right: 10px;
}
body .container .body .content .tasks {
  padding-top: 20px;
}
body .container .body .content .tasks .tasklist a {
  font-size: 30px;
  padding-left: 55px;
  background: url('../img/backup.png') no-repeat 5px 6px;
  font-weight: 300;
}
body .container .body .content .tasks .tasklist dl {
  padding-left: 55px;
  overflow: hidden;
  font-size: 14px;
}
body .container .body .content .tasks .tasklist dl dt,
body .container .body .content .tasks .tasklist dl dd {
  display: block;
  float: left;
}
body .container .body .content .tasks .tasklist dl dt {
  clear: both;
  font-weight: 500;
}
body .container .body .content .tasks .tasklist dl dd {
  margin-left: 10px;
}
body .container .body .content div.add .steps {
  width: 100%;
  overflow: hidden;
  margin-left: 50px;
}
body .container .body .content div.add .steps .step {
  float: left;
  padding-left: 130px;
  background: url('../img/steps/line-out.png') no-repeat top left;
  color: #c7e5f6;
}
body .container .body .content div.add .steps .step span {
  display: block;
  border: 4px #c7e5f6 solid;
  background: white;
  border-radius: 50%;
  width: 35px;
  height: 35px;
  text-align: center;
  font-size: 22px;
  line-height: 35px;
}
body .container .body .content div.add .steps .step.active {
  color: #65b1dd;
}
body .container .body .content div.add .steps .step.active span {
  border: 4px #65b1dd solid;
  background: #65b1dd;
  color: white;
}
body .container .body .content div.add .steps .step.active h2 {
  color: #65b1dd;
}
body .container .body .content div.add .steps .step:first-child {
  padding-left: 0;
  background: transparent;
}
body .container .body .content div.add .steps-boxes {
  padding-left: 40px;
}
body .container .body .content div.add .steps-boxes .step {
  display: none;
}
body .container .body .content div.add .steps-boxes .step.active {
  display: block;
}
body .container .body .content div.add .steps-legend {
  overflow: hidden;
  padding-bottom: 50px;
  list-style: none;
  padding-left: 0;
  margin: 0;
}
body .container .body .content div.add .steps-legend li {
  color: #c7e5f6;
  font-size: 18px;
  text-align: center;
  float: left;
  width: 175px;
  padding-top: 10px;
}
body .container .body .content div.add .steps-legend li:first-child {
  width: 140px;
  padding-right: 15px;
}
body .container .body .content div.add .steps-legend li.active {
  color: #65b1dd;
}
body .container .body .content div.add form {
  padding-bottom: 50px;
  overflow: hidden;
}
body .container .body .content div.add form .input.password .tools {
  clear: both;
  padding-left: 190px;
  padding-top: 10px;
}
body .container .body .content div.add form .input.password .tools ul {
  overflow: hidden;
}
body .container .body .content div.add form .input.password .tools ul li {
  float: left;
  padding-right: 7px;
}
body .container .body .content div.add form .input.password .tools ul li.strength.useless {
  color: red;
}
body .container .body .content div.add form .input.password .tools ul li.strength.average {
  color: yellow;
}
body .container .body .content div.add form .input.password .tools ul li.strength.good {
  color: #65b1dd;
}
body .container .body .content div.add form .input.multiple input,
body .container .body .content div.add form .input.multiple select {
  width: auto;
  margin-right: 5px;
}
body .container .body .content div.add form .input.multiple select {
  padding: 5px 12px;
}
body .container .body .content div.add form .input.overlayButton {
  overflow: hidden;
  position: relative;
  max-width: 446px;
}
body .container .body .content div.add form .input.overlayButton input {
  width: 347px;
}
body .container .body .content div.add form .input.overlayButton a.button {
  position: absolute;
  top: 0;
  right: 0;
  padding: 7px 12px;
}
body .container .body .content div.add form .input.checkbox.multiple strong {
  display: block;
  padding-bottom: 5px;
}
body .container .body .content div.add form .input.checkbox.multiple label {
  display: inline-block;
  float: none;
  width: auto;
  padding-right: 10px;
}
body .container .body .content div.add form .input.checkbox.multiple input {
  width: auto;
  display: inline-block;
  float: none;
}
body .container .body .content div.add form .buttons {
  float: none;
  width: 635px;
  padding-top: 30px;
}
body .container .body .content div.settings .input.mixed.multiple input.checkbox,
body .container .body .content div.settings .input.checkbox input.checkbox {
  width: auto;
}
body .container .body .content div.settings .input.mixed.multiple select,
body .container .body .content div.settings .input.checkbox select {
  width: auto;
  margin-right: 5px;
}
body .container .body .content div.settings .input.mixed.multiple label,
body .container .body .content div.settings .input.checkbox label {
  line-height: normal;
  padding: 0 15px;
  width: auto;
}
body .container .footer {
  background: #ededed;
  height: 70px;
  line-height: 70px;
  overflow: hidden;
  position: absolute;
  bottom: 0;
  width: 100%;
}
body .container .footer a {
  color: #8f8f8f;
}
body .container .footer .about-footer {
  display: none;
}
body .container .footer .social {
  float: right;
}
body .container .footer .social ul {
  overflow: hidden;
  float: right;
  padding-left: 20px;
  padding-right: 10px;
}
body .container .footer .social ul li {
  float: right;
  margin-right: 10px;
  padding-top: 5px;
}
body #modal-menu {
  max-width: 400px;
}
body #modal-menu a {
  color: #65b1dd;
  font-size: 20px;
  line-height: 40px;
}
.modal {
  padding: 30px;
  box-shadow: 0px 2px 7px rgba(0, 0, 0, 0.3);
  background: white;
}
.modal form .buttons {
  float: none;
}
.modal-wrapper .modal {
  display: block;
}
span.info {
  font-size: 10px;
  font-weight: 500;
  display: inline-block;
  background: #65b1dd;
  border-radius: 50%;
  width: 15px;
  height: 15px;
  vertical-align: super;
  color: white;
  line-height: 15px;
  margin-left: 5px;
  text-align: center;
}
.hidden {
  display: none;
}
.clear {
  clear: both;
}
.nofloat {
  float: none !important;
}
@media (max-width: 1100px) {
  body .container .body {
    position: relative;
    padding-top: 0;
  }
  body .container .body .menubutton {
    display: block;
    font-size: 18px;
    padding-left: 50px;
    background: url('../img/menu.png') no-repeat 5px 11px;
    position: relative;
    height: 40px;
    line-height: 40px;
    color: #8f8f8f;
    left: 20px;
    top: 10px;
    width: 80px;
    text-transform: uppercase;
  }
  body .container .body .menubutton.active {
    background-image: url('../img/menu_active.png');
    color: #65b1dd;
  }
  body .container .body .mainmenu {
    display: none;
    position: absolute;
    background: none repeat scroll 0 0 white;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    left: 10px;
    padding: 20px;
    top: 60px;
  }
  body .container .body .content {
    float: none;
    padding: 50px 20px;
  }
  body .container .body .content .state {
    width: auto;
  }
  body .container .mobileOpen {
    display: block !important;
  }
}
@media (max-width: 768px) {
  body.add .container .body .content div.add .steps,
  body.settings .container .body .content div.add .steps,
  body.add .container .body .content div.settings .steps,
  body.settings .container .body .content div.settings .steps {
    display: none;
  }
  body.add .container .body .content div.add .steps-legend,
  body.settings .container .body .content div.add .steps-legend,
  body.add .container .body .content div.settings .steps-legend,
  body.settings .container .body .content div.settings .steps-legend {
    list-style: decimal;
    padding-left: 20px;
  }
  body.add .container .body .content div.add .steps-legend li,
  body.settings .container .body .content div.add .steps-legend li,
  body.add .container .body .content div.settings .steps-legend li,
  body.settings .container .body .content div.settings .steps-legend li {
    float: none;
    text-align: left;
    font-weight: 500;
  }
  body.add .container .body .content div.add .steps-boxes,
  body.settings .container .body .content div.add .steps-boxes,
  body.add .container .body .content div.settings .steps-boxes,
  body.settings .container .body .content div.settings .steps-boxes {
    padding-left: 0;
  }
  body.add .container .body .content div.add form .input input,
  body.settings .container .body .content div.add form .input input,
  body.add .container .body .content div.settings form .input input,
  body.settings .container .body .content div.settings form .input input,
  body.add .container .body .content div.add form .input select,
  body.settings .container .body .content div.add form .input select,
  body.add .container .body .content div.settings form .input select,
  body.settings .container .body .content div.settings form .input select,
  body.add .container .body .content div.add form .input textarea,
  body.settings .container .body .content div.add form .input textarea,
  body.add .container .body .content div.settings form .input textarea,
  body.settings .container .body .content div.settings form .input textarea {
    max-width: 100%;
    box-sizing: border-box;
  }
  body.add .container .body .content div.add form .buttons,
  body.settings .container .body .content div.add form .buttons,
  body.add .container .body .content div.settings form .buttons,
  body.settings .container .body .content div.settings form .buttons {
    max-width: 100%;
  }
  body.add .container .body .content div.add form .tools,
  body.settings .container .body .content div.add form .tools,
  body.add .container .body .content div.settings form .tools,
  body.settings .container .body .content div.settings form .tools {
    padding-left: 0 !important;
  }
  body.add .container .body .content div.add form .input.checkbox.multiple,
  body.settings .container .body .content div.add form .input.checkbox.multiple,
  body.add .container .body .content div.settings form .input.checkbox.multiple,
  body.settings .container .body .content div.settings form .input.checkbox.multiple {
    padding-bottom: 5px;
  }
  body.add .container .body .content div.add form .input.checkbox.multiple input,
  body.settings .container .body .content div.add form .input.checkbox.multiple input,
  body.add .container .body .content div.settings form .input.checkbox.multiple input,
  body.settings .container .body .content div.settings form .input.checkbox.multiple input,
  body.add .container .body .content div.add form .input.checkbox.multiple label,
  body.settings .container .body .content div.add form .input.checkbox.multiple label,
  body.add .container .body .content div.settings form .input.checkbox.multiple label,
  body.settings .container .body .content div.settings form .input.checkbox.multiple label {
    display: block !important;
    float: left !important;
    line-height: normal;
  }
  body.add .container .body .content div.add form .input.checkbox.multiple input,
  body.settings .container .body .content div.add form .input.checkbox.multiple input,
  body.add .container .body .content div.settings form .input.checkbox.multiple input,
  body.settings .container .body .content div.settings form .input.checkbox.multiple input {
    clear: both;
  }
  body.add .container .body .content div.add form .input.text.multiple input,
  body.settings .container .body .content div.add form .input.text.multiple input,
  body.add .container .body .content div.settings form .input.text.multiple input,
  body.settings .container .body .content div.settings form .input.text.multiple input {
    max-width: 48% !important;
  }
}
@media (max-width: 480px) {
  body .container .body .mainmenu {
    width: 280px;
    box-sizing: border-box;
  }
  body .container .body .mainmenu ul li a {
    font-size: 22px;
  }
}
/*# sourceMappingURL=/assets/my-new-ember-app.css.map */