.modal-close {
    position: absolute;
    top: 5px;
    right: 5px;

    width: 28px;
    height: 28px;

    -webkit-transition: background 0.2s ease-out;
    -moz-transition: background 0.2s ease-out;
    -o-transition: background 0.2s ease-out;
    transition: background 0.2s ease-out;
    text-decoration: none;

    -webkit-border-radius: 50%;
    border-radius: 50%;
}

.modal-close:after {
    font-family: Arial, "Helvetica CY", "Nimbus Sans L", sans-serif !important;
    font-size: 28px;
    line-height: 28px;
    margin-left: 8px;

    display: block;

    content: "x";
    cursor: pointer;
    -webkit-transition: all 0.2s ease-out;
    -moz-transition: all 0.2s ease-out;
    -o-transition: all 0.2s ease-out;
    transition: all 0.2s ease-out;
    text-decoration: none;

    color: #3e5368;
}

.modal-close:hover,
.modal-close:active {
    background: #3e5368;
}

.modal-close:hover.modal-close:after,
.modal-close:active.modal-close:after {
    color: #f4f4f4;
}


.modal
{
  border: 1px solid black;
  background-color: #ccc;
  padding: 5px;

  position: fixed;
  top: 50%;
  left: 50%;
  width: 50%;
  max-width: 550px;
  min-width: 330px;
  height: auto;
  z-index: 2000;
  -webkit-transform: translateX(-50%) translateY(-50%);
  -moz-transform: translateX(-50%) translateY(-50%);
  -ms-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);  
}

/* tree */
.tree-view {
    list-style-type: none;
    margin-left: 10px;
    padding-bottom: 5px;
}

.tree-view ul {
	margin-left: 16px;
}

.tree-view li .node {
    padding-bottom: 5px;
}
.tree-view span.nodeLabel {
    cursor: pointer;
}
.tree-view span.nodeLabel.selected {
    border: 1px solid #aaa;
    background-color: #ddd;
    padding: 1px 3px;
}

.tree-view li div.selected {
	border-color: lightblue;
	background-color: lightblue;
}


.tree-view li a.nav {
	cursor: pointer;
    display: inline-block;
    width: 16px;
    height: 16px;
    vertical-align: middle;
    background-image: url(../img/treeicons.png);
    background-repeat: no-repeat;
	background-position: -80px 0px;
}

.tree-view a.nav.expanded {
	background-position: -80px -16px;
}

.tree-view a.nav.leaf {
	background: none;
}

.tree-view li a.type {
	cursor: auto;
    display: inline-block;
    width: 16px;
    height: 16px;
    vertical-align: middle;
    background-image: url(../img/treeicons.png);
    background-repeat: no-repeat;
	background-position: 0px -16px;
}

.tree-view a.type.x-tree-icon-drive {
	background-position: -16px -16px;
}

.tree-view a.type.x-tree-icon-leaf {
	background-position: -32px -16px;
}

.tree-view a.type.x-tree-icon-symlink {
	background-position: -48px -16px;
}

.tree-view a.type.x-tree-icon-userdata {
	background-position: -16px -48px;
}

.tree-view a.type.x-tree-icon-locked {
	background-position: -64px -16px;
}

.tree-view a.type.x-tree-icon-broken {
	background-position: -64px -16px;
}

.tree-view a.type.x-tree-icon-computer {
	background-position: 0px -48px;
}

.tree-view a.type.x-tree-icon-mydocuments {
	background-position: -32px -48px;
}

.tree-view a.type.x-tree-icon-mymusic {
	background-position: -48px -48px;
}

.tree-view a.type.x-tree-icon-mypictures {
	background-position: -64px -48px;
}

.tree-view a.type.x-tree-icon-desktop {
	background-position: -80px -48px;
}

.tree-view a.type.x-tree-icon-home {
	background-position: -96px -48px;
}


.tree-view li a.type.invisible {
	background-position: 0px -32px;	
}

.tree-view a.type.x-tree-icon-drive.invisible {
	background-position: -16px -32px;
}


.tree-view a.type.x-tree-icon-leaf.invisible {
	background-position: -32px -32px;
}

.tree-view a.type.x-tree-icon-symlink.invisible {
	cursor: auto;
	background-position: -48px -32px;
}

.tree-view a.type.x-tree-icon-locked.invisible {
	background-position: -64px -32px;
}


.tree-view a.type.loading {
	cursor: progress;
    background-image: url(../img/loader-16.gif);
    background-repeat: no-repeat;
    background-position: 0px 0px;
}

.tree-view li a.check {
    height: 16px;
	width: 16px;
	display: inline-block;
	cursor: pointer;
    background-image: url(../img/treeicons.png);
    background-repeat: no-repeat;
	background-position: 0px 0px;
    vertical-align: middle;
}

.tree-view li a.check.partial {
	background-position: -32px 0px;
}

.tree-view li a.check.include {
	background-position: -16px 0px;
}

.tree-view li a.check.exclude {
	background-position: -48px 0px;
}

.tree-view li a.check.root {
	background: none;
	display: none;
}

.tree-view li > ul {
	display: none;
}

.tree-view li > ul.expanded {
	display: block;
}

.step2 source-folder-picker, #folder_path_picker, #restore_file_picker {
  overflow: auto;
  display: block;
  border: 1px solid lightgray;
  padding: 2px;
  height: 100%;
  overflow: auto;
}

.step1 li.strength.score-0 {
	color: #ff0000;
}

.step1 li.strength.score-1 {
	color: #ff7700;
}

.step1 li.strength.score-2 {
	color: #aaaa00;
}

.step1 li.strength.score-3 {
	color: #007700;
}

.step1 li.strength.score-4 {
	color: #427e27;
}

.step1 li.strength.score-x {
	color: #ff0000;
}

.pause a {
  margin-top: 20px;
  margin-bottom: 20px;
  display: block;
  font-weight: 300;
  font-size: 24px;
}

body .container .body .content .tasks .tasklist a.action-link {
  font-size: 14px;
  background: none;
  padding-left: 0px;
}


/* Progress bar styles from Bootstrap */
.progress-bar {
    float: left;
    width: 0;
    height: 100%;
    font-size: 12px;
    line-height: 20px;
    color: #fff;
    text-align: center;
    background-color: #337ab7;
    -webkit-box-shadow: inset 0 -1px 0 rgba(0,0,0,.15);
    box-shadow: inset 0 -1px 0 rgba(0,0,0,.15);
    -webkit-transition: width .6s ease;
    -o-transition: width .6s ease;
    transition: width .6s ease;
    height: 100%;
    position: absolute;
}

.progress-bar-striped, .progress-striped .progress-bar {
    background-image: -webkit-linear-gradient(45deg,rgba(255,255,255,.15) 25%,transparent 25%,transparent 50%,rgba(255,255,255,.15) 50%,rgba(255,255,255,.15) 75%,transparent 75%,transparent);
    background-image: -o-linear-gradient(45deg,rgba(255,255,255,.15) 25%,transparent 25%,transparent 50%,rgba(255,255,255,.15) 50%,rgba(255,255,255,.15) 75%,transparent 75%,transparent);
    background-image: linear-gradient(45deg,rgba(255,255,255,.15) 25%,transparent 25%,transparent 50%,rgba(255,255,255,.15) 50%,rgba(255,255,255,.15) 75%,transparent 75%,transparent);
    -webkit-background-size: 40px 40px;
    background-size: 40px 40px;
}

.progress-bar.active, .progress.active .progress-bar {
    -webkit-animation: progress-bar-stripes 2s linear infinite;
    -o-animation: progress-bar-stripes 2s linear infinite;
    animation: progress-bar-stripes 2s linear infinite;
}

.progress {
  position: relative;
  min-height: 25px;
}
.progress > span {
  position: absolute;
  vertical-align: middle;
  display: block;
  width: 100%;
  height: 100%;
  text-align: center;
  z-index: 100;
  padding-top: 2px;
}

.ui-match {
  font-weight: bold;
  color: darkgreen;
}


form.styled div.leftflush input {
  width: auto;
  margin-top: 10px;
}

form.styled div.leftflush label {
  width: auto;
  min-width: 190px;
}

wait-area {
  min-width: 350px;
  text-align: center;
  display: block;
}

.contextmenu p {
  display: inline;
    margin-right: 10px;
    color: #65b1dd;
    cursor: pointer;
}

.prewrapped-text {
  white-space: pre-wrap;
}

.exceptiontext {
  background-color: lightgray;
  color: black;
}


ul.tabs {
  margin-bottom: 10px;
}

ul.tabs > li {
  display: inline;
  margin-right: 10px;
  border: 1px solid #65b1dd;
  padding: 5px;
}

ul.tabs > li.active, ul.tabs > li.active > a {
  background-color: #65b1dd;
  color: white;

}

.licenses > ul {
  list-style: initial;
  margin: 10px;
  margin-left: 20px;
}

.licenses li {
  margin-bottom: 10px;
}

.licenses a.itemlink {
  font-weight: bold;
}

.logpage ul.entries {
  list-style: initial;
  margin: 10px;
  margin-left: 20px;
}

.logpage .entries div.entryline {
  cursor: pointer;
}

.logpage .entries.livedata li {
  height: 1.2em;
  overflow: hidden;
}

.logpage .entries.livedata li.expanded {
  height: auto;
  overflow: auto;
}

.logpage .button {
  text-align: center;
  margin-right: 10px;
  border: 1px solid #65b1dd;
  padding: 5px;
  background-color: #65b1dd;
  color: white;
  cursor: pointer;
}

.exportpage .checkbox input {
  width: auto;
  margin-top: 10px;
}

.exportpage .commandline div {
  background-color: lightgray;
  color: black;  
}

div.connection-lost, div.blocker {
  position: fixed;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  margin: auto;
}

div.connection-lost {
  width: 250px;
  height: 200px;
}

div.blocker {
  background-color: #000000;
  opacity: 0.65;
}

.connection-lost div.info {
  display: inline-block;
}

.connection-lost div.title {
  border: 1px solid #65b1dd;
  background-color: #65b1dd;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
  padding: 10px;
  padding-left: 20px;
  padding-right: 20px;
  font-weight: bold;
  color: lightgray;
  width: 100%;
  text-align: center;
}

.connection-lost div.content {
  background-color: white;
  border: 1px solid white;
  padding: 20px;
  width: 100%;
  min-width: 250px;
}

.connection-lost div.content.buttons { 
  padding-bottom: 45px;
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}

.themelink {
  margin-left: 20px;
}

ul.notification {
    position: fixed;
    bottom: 0px;
    left: 0px;
    right: 0px;
    margin: auto;
    width: 300px;
}

.notification .title {
  border: 1px solid #65b1dd;
  background-color: #65b1dd;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
  padding: 2px;
  padding-left: 5px;
  padding-right: 5px;
  font-weight: bold;
  color: lightgray;
  width: 100%;
  text-align: center;
  clear: both;
}

.notification .content {
  background-color: white;
  border: 1px solid #65b1dd;  
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  padding: 2px;
  padding-left: 5px;
  padding-right: 5px;
  padding-bottom: 30px;
  width: 100%;
}

.notification .message {
  width: 100%;
  color: black;
}

.notification .buttons {
  padding-top: 6px;
}

.notification .button {
  padding: 2px 10px;
}


.notification .error .title, .notification .error .content, .notification .error .button {
  border-color: red;
}

.notification .error .title, .notification .error .button {
  background-color: red;
}

.notification .warning .title, .notification .warning .button {
  background-color: orange;
}

.notification .warning .title, .notification .warning .content, .notification .warning .button {
  border-color: orange;
}

.filepicker {
  height: 200px;
}

.resizable {
  margin-bottom: 6px;
}

.advanced-toggle {
  float: right;
  margin-right: 25px;
}

.advancedoptions li {
  clear: both; 
}

.advancedoptions .advancedentry {
  margin-bottom: 10px;
  padding-bottom: 4px; 
  border-bottom: 1px lightgray solid;  
}

.advancedentry .multiple {
  display: inline;
}

.advancedentry .shortname {
  font-weight: bold;
}

.advancedentry .longdescription {
  margin-left: 190px; 
  clear: both;  
  font-style: italic;
}

