.modal-close {
    position: absolute;
    top: 5px;
    right: 5px;

    width: 28px;
    height: 28px;

    -webkit-transition: background 0.2s ease-out;
    -moz-transition: background 0.2s ease-out;
    -o-transition: background 0.2s ease-out;
    transition: background 0.2s ease-out;
    text-decoration: none;

    -webkit-border-radius: 50%;
    border-radius: 50%;
}

.modal-close:after {
    font-family: Arial, "Helvetica CY", "Nimbus Sans L", sans-serif !important;
    font-size: 28px;
    line-height: 28px;
    margin-left: 8px;

    display: block;

    content: "x";
    cursor: pointer;
    -webkit-transition: all 0.2s ease-out;
    -moz-transition: all 0.2s ease-out;
    -o-transition: all 0.2s ease-out;
    transition: all 0.2s ease-out;
    text-decoration: none;

    color: #3e5368;
}

.modal-close:hover,
.modal-close:active {
    background: #3e5368;
}

.modal-close:hover.modal-close:after,
.modal-close:active.modal-close:after {
    color: #f4f4f4;
}


.modal
{
  border: 1px solid black;
  background-color: #ccc;
  padding: 5px;

  position: fixed;
  top: 50%;
  left: 50%;
  width: 50%;
  max-width: 550px;
  min-width: 330px;
  height: auto;
  z-index: 2000;
  -webkit-transform: translateX(-50%) translateY(-50%);
  -moz-transform: translateX(-50%) translateY(-50%);
  -ms-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);  
}

/* tree */
.tree-view {
    list-style-type: none;
    margin-left: 10px;
    padding-bottom: 5px;
}

.tree-view ul {
	margin-left: 16px;
}

.tree-view li .node {
    padding-bottom: 5px;
}
.tree-view span.nodeLabel {
    cursor: pointer;
}
.tree-view span.nodeLabel.selected {
    border: 1px solid #aaa;
    background-color: #ddd;
    padding: 1px 3px;
}

.tree-view li div.selected {
	border-color: lightblue;
	background-color: lightblue;
}


.tree-view li a.nav {
	cursor: pointer;
    display: inline-block;
    width: 16px;
    height: 16px;
    vertical-align: middle;
    background-image: url(../img/treeicons.png);
    background-repeat: no-repeat;
	background-position: -80px 0px;
}

.tree-view a.nav.expanded {
	background-position: -80px -16px;
}

.tree-view a.nav.leaf {
	background: none;
}

.tree-view li a.type {
	cursor: auto;
    display: inline-block;
    width: 16px;
    height: 16px;
    vertical-align: middle;
    background-image: url(../img/treeicons.png);
    background-repeat: no-repeat;
	background-position: 0px -16px;
}

.tree-view a.type.x-tree-icon-drive {
	background-position: -16px -16px;
}

.tree-view a.type.x-tree-icon-leaf {
	background-position: -32px -16px;
}

.tree-view a.type.x-tree-icon-symlink {
	background-position: -48px -16px;
}

.tree-view a.type.x-tree-icon-userdata {
	background-position: -16px -48px;
}

.tree-view a.type.x-tree-icon-locked {
	background-position: -64px -16px;
}

.tree-view a.type.x-tree-icon-broken {
	background-position: -64px -16px;
}

.tree-view a.type.x-tree-icon-computer {
	background-position: 0px -48px;
}

.tree-view a.type.x-tree-icon-mydocuments {
	background-position: -32px -48px;
}

.tree-view a.type.x-tree-icon-mymusic {
	background-position: -48px -48px;
}

.tree-view a.type.x-tree-icon-mypictures {
	background-position: -64px -48px;
}

.tree-view a.type.x-tree-icon-desktop {
	background-position: -80px -48px;
}

.tree-view a.type.x-tree-icon-home {
	background-position: -96px -48px;
}


.tree-view li a.type.invisible {
	background-position: 0px -32px;	
}

.tree-view a.type.x-tree-icon-drive.invisible {
	background-position: -16px -32px;
}


.tree-view a.type.x-tree-icon-leaf.invisible {
	background-position: -32px -32px;
}

.tree-view a.type.x-tree-icon-symlink.invisible {
	cursor: auto;
	background-position: -48px -32px;
}

.tree-view a.type.x-tree-icon-locked.invisible {
	background-position: -64px -32px;
}


.tree-view a.type.loading {
	cursor: progress;
    background-image: url(../img/loader-16.gif);
    background-repeat: no-repeat;
    background-position: 0px 0px;
}

.tree-view li a.check {
    height: 16px;
	width: 16px;
	display: inline-block;
	cursor: pointer;
    background-image: url(../img/treeicons.png);
    background-repeat: no-repeat;
	background-position: 0px 0px;
    vertical-align: middle;
}

.tree-view li a.check.partial {
	background-position: -32px 0px;
}

.tree-view li a.check.include {
	background-position: -16px 0px;
}

.tree-view li a.check.exclude {
	background-position: -48px 0px;
}

.tree-view li a.check.root {
	background: none;
	display: none;
}

.tree-view li > ul {
	display: none;
}

.tree-view li > ul.expanded {
	display: block;
}

.step2 source-folder-picker, #folder_path_picker {
  max-height: 200px;
  overflow: auto;
  display: block;
  border: 1px solid lightgray;
  padding: 2px
}

.step1 li.strength.score-0 {
	color: #ff0000;
}

.step1 li.strength.score-1 {
	color: #ff7700;
}

.step1 li.strength.score-2 {
	color: #aaaa00;
}

.step1 li.strength.score-3 {
	color: #007700;
}

.step1 li.strength.score-4 {
	color: #427e27;
}

.step1 li.strength.score-x {
	color: #ff0000;
}


