<div class="exportpage">
  <h1 i18n>Export backup configuration</h1>
  <form class="styled">
    <div *ngIf="!completed">
      <div class="input checkbox multiple">
        <div style="display: inline-block">
          <input type="radio" name="export-type" value="commandline" id="type-commandline" [(ngModel)]="exportType" />
          <label for="type-commandline" i18n>As Command-line</label>
        </div>
      </div>

      <div class="input checkbox multiple">
        <input type="radio" name="export-type" value="file" id="type-file" [(ngModel)]="exportType" />
        <label for="type-file" i18n>To File</label>
      </div>
      <div class="input checkbox multiple">
        <input type="checkbox" name="encrypt-passwords" id="encrypt-passwords" [(ngModel)]="exportPasswords" />
        <label for="encrypt-passwords" i18n>Export passwords</label>
      </div>
      <div class="input checkbox multiple" ng-show="ExportType == 'file'">
        <input type="checkbox" name="use-encryption" id="use-encryption" [(ngModel)]="useEncryption" />
        <label for="use-encryption" i18n>Encrypt file</label>
      </div>
      <div class="input text" *ngIf="useEncryption && exportType == 'file'">
        <label for="encryption-passphrase" i18n>Passphrase</label>
        <input type="password" name="encryption-password" id="encryption-passphrase" [(ngModel)]="passphrase" i18n-placeholder placeholder="Enter encryption passphrase">
      </div>
      <div class="input text" *ngIf="useEncryption && exportType == 'file'">
        <label for="encryption-passphrase" i18n>Confirm passphrase</label>
        <input type="password" name="confirm-encryption-password" id="confirm-encryption-passphrase" [(ngModel)]="confirmPassphrase" i18n-placeholder placeholder="Confirm encryption passphrase">
      </div>

      <div class="buttons" *ngIf="!connecting">
        <a routerLink="/" class="submit" i18n>Cancel</a>
        <a routerLink="." (click)="doExport()" i18n>Export</a>
      </div>

      <div class="buttons" *ngIf="connecting">
        <a routerLink="." i18n>Exporting …</a>
      </div>
    </div>

    <div *ngIf="completed">
      <div class="input textarea commandline" *ngIf="commandLine != null">
        {{commandLine}}
      </div>

      <div *ngIf="downloadURL != null">
        <div i18n>If the backup file was not downloaded automatically, <a [href]="downloadURL" target="_blank">right click and choose &quot;Save as …&quot;</a></div>
      </div>

      <div class="buttons">
        <a routerLink="/" class="submit" i18n>Done</a>
      </div>
    </div>

  </form>

  <iframe style="display:none" *ngIf="downloadURL" [src]="downloadURL"></iframe>
</div>
