<div>
  <h1 i18n>Changelog for {{brandingService.getAppName() | async}} {{version || '-unknown-'}}</h1>

  <div i18n>Current version is {{systemInfo?.ServerVersionName}} ({{systemInfo?.ServerVersion}})</div>

  <div class="prewrapped-text fixed-width-font" *ngIf="changelog">{{changelog}}</div>
  <div class="prewrapped-text fixed-width-font" *ngIf="changelog == null" i18n>Loading …</div>

  <div class="buttons">
    <a routerLink="." class="button" *ngIf="serverstate?.updaterState == 'Waiting' && serverstate?.updatedVersion != null" (click)="doInstall()" i18n>Install</a>
    <a routerLink="." class="button" *ngIf="serverstate?.updateReady" (click)="doActivate()" i18n>Activate</a>
  </div>


</div>
