<div *ngIf="currentItem != null && currentItem.title != null" class="blocker"></div>

<div *ngIf="currentItem != null && currentItem.title != null" class="modal-dialog">
  <div class="info">
    <div class="title">{{currentItem.title}}</div>
    <div class="content" *ngIf="currentItem.message || currentItem.enableTextarea">
      {{currentItem.message}}
      <form *ngIf="currentItem.enableTextarea">
        <textarea placeholder="{{currentItem.placeholder}}" [(ngModel)]="currentItem.textarea" id="copytarget" name="text"></textarea>
      </form>
    </div>
    <div class="content">
      <app-dynamic-content [type]="htmlTemplate" (instantiated)="initHtmlTemplate($event)"></app-dynamic-content>
    </div>
    <div class="content buttons">
      <ul>
        <li style="display: inline-block">
          <app-dynamic-content [type]="buttonTemplate" (instantiated)="initButtonTemplate($event)"></app-dynamic-content>
        </li>
        <li *ngFor="let btn of currentItem.buttons; index as i; trackBy: trackByIndex" style="display: inline-block">
          <button class="button" (click)="onButtonClick(i)">{{btn}}</button>
        </li>
      </ul>
    </div>
  </div>
</div>
