<div class="input text">
  <label for="oauth_path" translate>Path on server</label>
  <input type="text" name="oauth_path" id="oauth_path" [(ngModel)]="path" placeholder="Enter the destination path" />
</div>

<div class="input text">
  <label for="oauth_authid">
    <a *ngIf="oauthInProgress" [href]="oauthStartLink" target="_blank" translate>AuthID</a>
    <a *ngIf="!oauthInProgress" routerLink="." (click)="oauthStartTokenCreation()" translate>AuthID</a>
  </label>
  <input type="text" name="oauth_authid" id="oauth_authid" [(ngModel)]="authID" placeholder="Click the AuthID link to create an AuthID" />
</div>
