<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Duplicati.RunBackup.Properties.Settings.ConnectionString"
            connectionString="Data Source=kenb-PC\SQLEXPRESS;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="Duplicati.RunBackup.Properties.Settings.modelConnectionString"
            connectionString="Data Source=kenb-PC\SQLEXPRESS;Initial Catalog=model;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="Duplicati.RunBackup.Properties.Settings.BackupsConnectionString"
            connectionString="Data Source=kenb-PC\SQLEXPRESS;Initial Catalog=Backups;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>