<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
	<Fragment>

    <DirectoryRef Id="ProgramMenuFolder">
      <Component Id="DuplicatiProgramMenuShortcutComponent" Guid="1D03AB64-E310-4974-835E-E9E8CFB18BBC">
        <Shortcut Id="DuplicatiProgramMenuShortcut"
                  Name="Duplicati"
                  WorkingDirectory="INSTALLLOCATION"
                  Description="Launch Duplicati"
                  Directory="ProgramMenuFolder"
                  Icon="DuplicatiIcon.exe"
                  IconIndex="0"
                  Target="[INSTALLLOCATION]Duplicati.GUI.TrayIcon.exe"
                  />
        <RegistryKey Root="HKCU" Key="Software\DuplicatiTeam\Duplicati\ProgramMenuShortcut">
          <RegistryValue
                  Value="Installed"
                  Type="string"
                  KeyPath="yes" />
        </RegistryKey>
      </Component>
    </DirectoryRef>

    <DirectoryRef Id="DesktopFolder">
      <Component Id="DuplicatiDesktopShortcutComponent" Guid="7BF060B8-389F-4a95-931C-5D551E55902A">
        <Shortcut Id="DuplicatiDesktopComponent"
                  Name="Duplicati"
                  WorkingDirectory="INSTALLLOCATION"
                  Description="Launch Duplicati"
                  Directory="DesktopFolder"
                  Icon="DuplicatiIcon.exe"
                  IconIndex="0"
                  Target="[INSTALLLOCATION]Duplicati.GUI.TrayIcon.exe"
                />
        <RegistryKey Root="HKCU" Key="Software\DuplicatiTeam\Duplicati\DesktopFolderShortcut">
          <RegistryValue
                  Value="Installed"
                  Type="string"
                  KeyPath="yes" />
        </RegistryKey>
      </Component>
    </DirectoryRef>

    <DirectoryRef Id="ProgramMenuFolder">
      <Directory Id="StartupFolder">
        <Component Id="StartupMenuItem" Guid="A85B1D4E-26EF-4d6a-8C1F-279EAABCE8DE">
          <Shortcut Id="DuplicatiStartupComponent"
                    Name="Duplicati"
                    WorkingDirectory="INSTALLLOCATION"
                    Description="Launch Duplicati"
                    Directory="StartupFolder"
                    Icon="DuplicatiIcon.exe"
                    IconIndex="0"
                    Target="[INSTALLLOCATION]Duplicati.GUI.TrayIcon.exe"
                />
          
          <RegistryKey Root="HKCU" Key="Software\DuplicatiTeam\Duplicati\StartupShortcut">
            <RegistryValue
                    Value="Installed"
                    Type="string"
                    KeyPath="yes" />
          </RegistryKey>
        </Component>
      </Directory>
    </DirectoryRef>

  </Fragment>
</Wix>