<div class="pauseoptions">
  <form class="styled">
    <ul>
      <li class="input" (click)="time = t" *ngFor="let t of times">
        <input type="radio" name="timesel" [id]="'sel_' + t" [(ngModel)]="time" [value]="t">
        <label *ngIf="t.endsWith('m')" [for]="'sel_' + t" class="pause-{{stripUnit(t)}}">
          { stripUnit(t), plural,
          one{ {{stripUnit(t)}} Minute}
          other { {{stripUnit(t)}} Minutes} }
        </label>
        <label *ngIf="t.endsWith('h')" [for]="'sel_' + t" class="pause-{{stripUnit(t)*60}}">
          { stripUnit(t), plural,
          one { {{stripUnit(t)}} Hour}
          other { {{stripUnit(t)}} Hours} }
        </label>
      </li>

      <li class="input" (click)="time = 'infinite'">
        <input type="radio" name="timesel" id="infinite" [(ngModel)]="time" value="infinite">
        <label for="infinite" class="pause-x" i18n>Until resumed</label>
      </li>
    </ul>
  </form>

</div>
