<div class="header">
  <div class="logo">
    <a href="#/">
      <img class="mainlogo" src="{{brandingService.getAppLogoPath() | async}}" />
    </a>

    <div class="logotext">
      <a routerLink="/" class="home">{{brandingService.getAppName() | async}}</a>
      <div class="build-suffix" [hidden]="systemInfo?.ServerVersionType == 'stable' || systemInfo?.ServerVersionType == ''">{{systemInfo?.ServerVersionType}}</div>
      <div class="powered-by">{{brandingService.getAppSubtitle() | async}}</div>
    </div>
  </div>

  <div class="donate" ng-hide="systemInfo.SuppressDonationMessages">
    <app-external-link link="'https://www.duplicati.com/donate'">Donate</app-external-link>
  </div>


  <a routerLink="." class="menubutton hidden" data-target="mainmenu" translate>Menu</a>

  <div class="action-icons-small">
    <div class="pause" [class]="{'active': state?.programState != 'Running'}" (click)="pauseOptions()" [title]="state?.programState == 'Running' ? 'Click to see the pause options' : 'Click to resume'"></div>
    <div class="throttle {{throttle_active ? 'active' : 'inactive'}}" (click)="throttleOptions()" title="Click to set throttle options" aria-label="Click to set throttle options"></div>
  </div>

  <div class="statepadding">
    <app-state></app-state>

    <div class="action-icons">
      <div class="pause" ng-class="{'active': state?.programState != 'Running'}" ng-click="pauseOptions()" title="{{state?.programState == 'Running' ? 'Click to see the pause options' : 'Click to resume'}}"></div>
      <div class="throttle {{throttle_active ? 'active' : 'inactive'}}" ng-click="throttleOptions()" title="Click to set throttle options" alt="Click to set throttle options"></div>
    </div>
  </div>
</div>
