<header class="header">
  <div class="logo">
    <a routerLink="/">
      <img class="mainlogo" src="{{brandingService.getAppLogoPath() | async}}" />
    </a>

    <div class="logotext">
      <a routerLink="/" class="home">{{brandingService.getAppName() | async}}</a>
      <div class="build-suffix" [hidden]="systemInfo?.ServerVersionType == 'stable' || systemInfo?.ServerVersionType == ''">{{systemInfo?.ServerVersionType}}</div>
      <div class="powered-by">{{brandingService.getAppSubtitle() | async}}</div>
    </div>
  </div>

  <div class="donate" *ngIf="systemInfo?.SuppressDonationMessages !== true">
    <app-external-link link="https://www.duplicati.com/donate">Donate</app-external-link>
  </div>


  <a href="javascript:void(0)" class="menubutton hidden" data-target="mainmenu" translate (click)="onClickMenu($event)">Menu</a>

  <div class="action-icons-small">
    <div class="pause" [class]="{'active': state.programState != 'Running'}" (click)="pauseOptions()" [title]="state.programState == 'Running' ? 'Click to see the pause options' : 'Click to resume'"></div>
    <div class="throttle {{throttle_active ? 'active' : 'inactive'}}" (click)="throttleOptions()" title="Click to set throttle options" aria-label="Click to set throttle options"></div>
  </div>

  <div class="statepadding">
    <app-state></app-state>

    <div class="action-icons">
      <div class="pause" [class]="{active: state.programState != 'Running'}" (click)="pauseOptions()" title="{{state.programState == 'Running' ? 'Click to see the pause options' : 'Click to resume'}}"></div>
      <div class="throttle" [class.active]="throttle_active" [class.inactive]="!throttle_active" (click)="throttleOptions()" title="Click to set throttle options" alt="Click to set throttle options"></div>
    </div>
  </div>
</header>
