<div class="waitarea">
  <div *ngIf="serverstate?.activeTask == null || serverstate?.activeTask?.Item1 != taskid" i18n>Waiting for task to begin</div>
  <div *ngIf="serverstate?.activeTask != null && serverstate?.activeTask?.Item1 == taskid">
    <div *ngIf="text">{{text}}</div>
    <div *ngIf="!text" i18n>Task is running</div>
    <div class="progress" style="border: 1px solid;">
      <span>{{statusText}}</span>

      <div class="progress-bar progress-bar-striped" [class]="{active: (serverstate?.lastPgEvent?.OverallProgress ?? -1) <= 0}" role="progressbar"
           [attr.aria-valuenow]="(serverstate?.lastPgEvent?.OverallProgress || 0)* 100" aria-valuemin="0" aria-valuemax="100" style="width:{{(serverstate?.lastPgEvent?.OverallProgress || 0) * 100}}%">
      </div>
    </div>
  </div>

  <div *ngIf="serverstate?.programState == 'Paused'">
    <ng-container i18n>Server is currently paused, </ng-container><a style="cursor: pointer" (click)="serverStatus.resume()" i18n>resume now</a>
  </div>

  <div *ngIf="allowCancel">
    <a href class="button" (click)="cancelTask()" i18n>Cancel</a>
  </div>

</div>
