<ul class="notification">
  <li *ngFor="let item of Notifications; index as i; trackBy: trackByID" ng-show="$index < 4" class="{{item.Type.toLowerCase()}}">
    <div class="title">{{item.Title}}</div>
    <div class="content">
      <div *ngIf="item.Action != 'update:new'" class="message">{{item.Message}}</div>
      <div *ngIf="item.DownloadLink != null">
        <div i18n>If the backup file was not downloaded automatically, <a [href]="item.DownloadLink" target="_blank">right click and choose &quot;Save as …&quot;</a></div>
      </div>
      <div *ngIf="item.Action != 'update:new'" class="buttons">
        <a href="javascript:void(0)" (click)="doDismiss(item.ID)" class="button dismiss" i18n>Dismiss</a>

        <a href="javascript:void(0)" *ngIf="item.Action == 'backup:show-log'" (click)="doShowLog(item.BackupID)" class="button showlog" i18n>Show</a>

        <a href="javascript:void(0)" *ngIf="item.Message.indexOf('please run repair') > 0" (click)="doRepair(item.BackupID)" class="button repairdb" i18n>Repair</a>

        <a href="javascript:void(0)" *ngIf="item.Action.indexOf('bug-report:created:') == 0 && item.DownloadLink == null" (click)="doDownloadBugreport(item)" class="button downloadbugreport" i18n>Download</a>
        <div class="clear"></div>
      </div>


      <div *ngIf="item.Action == 'update:new'">
        <div class="message" i18n>New update found: {{item.Message}}</div>

        <!--<progress-bar *ngIf="status.updaterState == 'Downloading'" ng-text="'Downloading update…' | translate" ng-progress="status.updateDownloadProgress"></progress-bar>-->

        <div class="buttons" *ngIf="status != null">
          <a href="javascript:void(0)" (click)="doDismiss(item.ID)" class="button dismiss" i18n>Dismiss</a>
          <a href="javascript:void(0)" *ngIf="!status.updateReady && status.updaterState == 'Waiting'" (click)="doInstallUpdate(item.ID)" class="button installupdate" i18n>Install</a>
          <a href="javascript:void(0)" *ngIf="status.updateReady && status.updaterState == 'Waiting'" (click)="doActivateUpdate(item.ID)" class="button installupdate" i18n>Activate</a>
          <a href="javascript:void(0)" *ngIf="status.updaterState == 'Downloading'" class="button" [class.disabled]="true" i18n>Downloading …</a>
          <a href="javascript:void(0)" *ngIf="status.updaterState == 'Checking'" class="button" [class.disabled]="true" i18n>Verifying …</a>
          <a href="javascript:void(0)" *ngIf="doShowUpdate()" class="button showupdate" i18n>Show</a>
          <div class="clear"></div>
        </div>
      </div>
    </div>
  </li>
  <li class="error" *ngIf="Notifications.length > 1">
    <div class="content">
      <div class="buttons">
        <a href="javascript:void(0)" (click)="doDismissAll()" class="button dismiss" i18n>Dismiss all</a>
        <div class="clear"></div>
      </div>
    </div>
  </li>
</ul>

<iframe style="display: none" *ngIf="DownloadLink" [src]="DownloadLink"></iframe>
