<div class="input text">
  <label for="jottacloud_path" i18n>Path on server</label>
  <input type="text" name="jottacloud_path" id="jottacloud_path" [(ngModel)]="path" i18n-placeholder placeholder="Enter the destination path" />
</div>

<div class="input text">
  <label for="jottacloud_authid">
    <a *ngIf="oauthInProgress" [href]="oauthStartLink" target="_blank" i18n>AuthID</a>
    <a *ngIf="!oauthInProgress" routerLink="." (click)="oauthStartTokenCreation()" i18n>AuthID</a>
  </label>
  <input type="text" name="jottacloud_authid" id="jottacloud_authid" [(ngModel)]="authID" i18n-placeholder placeholder="Click the AuthID link to create an AuthID" />
</div>
