<div class="addwizard">

  <h1><div i18n>Add a new backup</div></h1>

  <form class="styled">
    <ul>
      <li class="input" (click)="selection.style = 'blank'">
        <input type="radio" name="blank" id="blank" [(ngModel)]="selection.style" value="blank">
        <label for="direct" i18n>Configure a new backup</label>
        <div class="subtext" i18n>Enter configuration details</div>
      </li>

      <li class="input" (click)="selection.style = 'importfile'">
        <input type="radio" name="blank" id="blank" [(ngModel)]="selection.style" value="importfile">
        <label for="direct" i18n>Import from a file</label>
        <div class="subtext" i18n>Load a configuration from an exported job or a storage provider</div>
      </li>

      <!--<li class="input" ng-click="selection.style = 'importremote'">
          <input type="radio" name="blank" id="blank" ng-model="selection.style" value="importremote">
          <label for="direct">From a remote backup</label>
          <div class="subtext">Import configuration from a backup folder</div>
      </li> -->

    </ul>

    <div class="buttons">
      <input class="submit next" type="button" (click)="nextPage()" i18n-value value="Next &gt;" />
    </div>
  </form>
</div>
