<div class="input text">
  <label for="azure_path" i18n>Container name</label>
  <input type="text" name="azure_path" id="azure_path" [(ngModel)]="path" i18n-placeholder placeholder="Enter container name" />
</div>

<div class="input text">
  <label for="azure_username" i18n>Account name</label>
  <input type="text" name="azure_username" id="azure_username" [(ngModel)]="username" i18n-placeholder placeholder="Enter account name" />
</div>
<div class="input password">
  <label for="azure_password" i18n>Access Key</label>
  <input autocomplete="new-password" type="password" name="azure_password" id="azure_password" [(ngModel)]="password" i18n-placeholder placeholder="Enter access key" />
</div>
