<!--TODO: Padding is wrong, because first-child,last-child always applies-->
<div class="task">
  <a routerLink="." (click)="expanded = !expanded">
    <img [hidden]="backupIcon != 'backup'" src="img/backup.png" srcset="img/backup.png 1x, img/backup_2x.png 2x, img/backup_3x.png 3x">
    <img [hidden]="backupIcon != 'backupschedule'" src="img/backupschedule.png" srcset="img/backupschedule.png 1x, img/backupschedule_2x.png 2x, img/backupschedule_3x.png 3x">
    <img [hidden]="backupIcon != 'backuprunning'" src="img/backuprunning.png" srcset="img/backuprunning.png 1x, img/backuprunning_2x.png 2x, img/backuprunning_3x.png 3x">
    <img [hidden]="backupIcon != 'backuppause'" src="img/backuppause.png" srcset="img/backuppause.png 1x, img/backuppause_2x.png 2x, img/backuppause_3x.png 3x">
    {{backupName}}
    <img [hidden]="!expanded" src="img/arrow_collapse_blue.png" srcset="img/arrow_collapse_blue.png 1x, img/arrow_collapse_blue_2x.png 2x, img/arrow_collapse_blue_3x.png 3x">
    <img [hidden]="expanded" src="img/arrow_expand_blue.png" srcset="img/arrow_expand_blue.png 1x, img/arrow_expand_blue_2x.png 2x, img/arrow_expand_blue_3x.png 3x">
  </a>

  <dl class="taskmenu" *ngIf="expanded">
    <dt *ngIf="description" i18n>Description:</dt>
    <dd *ngIf="description">
      {{description}}
    </dd>

    <dt i18n>Operations:</dt>
    <dd>
      <p (click)="doRun()" i18n>Run now</p>
      <p (click)="doRestore()" i18n>Restore files …</p>
    </dd>

    <dt i18n>Configuration:</dt>
    <dd>
      <p (click)="doEdit()" i18n>Edit …</p>
      <p (click)="doExport()" i18n>Export …</p>
      <p (click)="doDelete()" i18n>Delete …</p>

    </dd>

    <dt i18n>Advanced:</dt>
    <dd>
      <p (click)="doLocalDb()" i18n>Database …</p>
      <p (click)="doVerifyRemote()" i18n>Verify files</p>
      <p (click)="doCompact()" i18n>Compact now</p>
      <p (click)="doCommandLine()" i18n>Commandline …</p>
    </dd>

    <dt i18n>Reporting:</dt>
    <dd>
      <p (click)="doShowLog()" i18n>Show log …</p>
      <p (click)="doCreateBugReport()" i18n>Create bug report …</p>
    </dd>
  </dl>

  <dl>
    <dt i18n>Last successful backup:</dt>
    <dd *ngIf="lastBackupFinished != null"
        title="{{lastBackupFinished}}" i18n>
      {{lastBackupFinishedTime}} (took {{lastBackupFinishedDuration}})
    </dd>
    <dd>
      <span *ngIf="lastBackupFinished == null"><ng-container i18n>Never</ng-container> - </span><a routerLink="." class="action-link" (click)="doRun()" i18n>Run now</a>
    </dd>

    <dt *ngIf="nextScheduledRun" i18n>Next scheduled run:</dt>
    <dd *ngIf="nextScheduledRun" title="{{nextScheduledRun}}">{{nextScheduledRunDate}}</dd>
    <dt *ngIf="sourceSizeString" i18n>Source:</dt>
    <dd *ngIf="sourceSizeString">{{sourceSizeString}}</dd>
    <dt *ngIf="targetSizeString" i18n>Backup:</dt>
    <dd *ngIf="targetSizeString">{backupListCount, plural,
      one { {{targetSizeString}} / {{backupListCount}} Version}
      other { {{targetSizeString}} / {{backupListCount}} Versions} }
    </dd>
    <ng-container *ngIf="isActive && progressCurrentFilename != null">
      <dt i18n>Current action:</dt>
      <dd>{{progressPhase}}</dd>
      <dt i18n>Progress:</dt>
      <dd>
        <div class="progress-small-bg">
          <div class="progress-small" [style.width.px]="progressBarPercentage * 2">
            {{progressBarPercentage | number:'1.0-2'}}%
          </div>
        </div>
      </dd>
      <dt i18n>Current file:</dt>
      <dd>{{progressCurrentFilename}}</dd>
    </ng-container>
  </dl>
</div>
