<div ng-controller="AddWizardController" class="addwizard">
    
    <h1><div translate>Add a new backup</div></h1>

    <form class="styled">
    	<ul>
    		<li class="input" ng-click="selection.style = 'blank'">
	    		<input type="radio" name="blank" id="blank" ng-model="selection.style" value="blank">
    			<label for="blank" translate>Configure a new backup</label>
    			<div class="subtext" translate>Enter configuration details</div>
    		</li>

            <li class="input" ng-click="selection.style = 'importfile'">
                <input type="radio" name="blank" id="importfile" ng-model="selection.style" value="importfile">
                <label for="importfile" translate>Import from a file</label>
                <div class="subtext" translate>Load a configuration from an exported job or a storage provider</div>
            </li>

            <!--<li class="input" ng-click="selection.style = 'importremote'">
                <input type="radio" name="blank" id="importremote" ng-model="selection.style" value="importremote">
                <label for="importremote">From a remote backup</label>
                <div class="subtext">Import configuration from a backup folder</div>
            </li> -->

    	</ul>

        <div class="buttons">
            <input class="submit next" type="button" ng-click="nextPage()" value="{{'Next' | translate}} &gt;" />
        </div>
    </form>
</div>
