<ul class="advancedoptions">
	<li ng-repeat="item in ngModel | orderBy: 'item' as nn track by $index" class="advancedentry">
		<div>
			<label class="shortname">{{getShortName(item)}}</label>

            <select ng-if="getInputType(item) == 'enum'" ng-options="n for n in getEnumerations(item)" ng-model="$parent.ngModel[$index]" parse-advanced-option="getEnumerations(item)"></select>
            <select ng-if="getInputType(item) == 'flags'" ng-options="n for n in getEnumerations(item)" ng-model="$parent.ngModel[$index]" parse-advanced-option-flags="getEnumerations(item)" multiple="multiple"></select>
            <input ng-if="getInputType(item) == 'bool'" type="checkbox" ng-model="$parent.ngModel[$index]" parse-advanced-option-bool ></input>
			<input ng-if="getInputType(item) == 'password'" type="password" ng-model="$parent.ngModel[$index]" parse-advanced-option ></input>
			<input ng-if="getInputType(item) == 'text'" type="text" ng-model="$parent.ngModel[$index]" parse-advanced-option ></input>
			<input ng-if="getInputType(item) == 'int'" type="number" ng-model="$parent.ngModel[$index]" parse-advanced-option-integer ></input>

			<div ng-if="getInputType(item) == 'size'" class="input type multiple">
                <input type="number" parse-advanced-option-size-number ng-model="$parent.ngModel[$index]" />
                <select parse-advanced-option-size-multiplier ng-model="$parent.ngModel[$index]">
                    <option value="kb">KByte</option>
                    <option value="mb">MByte</option>
                    <option value="gb">GByte</option>
                    <option value="tb">TByte</option>
                </select>
			</div>

			<div ng-if="getInputType(item) == 'timespan'" class="input type multiple">
                <input parse-advanced-option-size-number type="number" ng-model="$parent.ngModel[$index]" />
                <select parse-advanced-option-size-multiplier ng-model="$parent.ngModel[$index]">
                    <option value="D">Days</option>
                    <option value="W">Weeks</option>
                    <option value="M">Months</option>
                    <option value="Y">Years</option>
                    <option value="">custom</option>
                </select>
			</div>

		</div>

		<a href ng-click="deleteItem(item)" title="Remove option">x</a>

		<div class="longdescription">{{getLongDescription(item)}}</div>
	</li>

	<li>
		<label>Add advanced option</label>
		<select ng-options="getDisplayName(opt.Name) group by opt.Category for opt in ngOptionList | orderBy: 'Name' " ng-model="NewItem">
			<option value="">- pick an option -</option>
		</select>
	</li>
</ul>