<div ng-controller="BackupLogController" class="logpage">

    <h1 translate>Log data for <b>{{Backup.Backup.Name}}</b></h1>

    <ul class="tabs">
        <li ng-class="{active: Page=='general'}"><a href ng-click="Page='general'" translate>General</a></li>
        <li ng-class="{active: Page=='remote'}"><a href ng-click="Page='remote'" translate>Remote</a></li>
    </ul>

    <div ng-show="Page == 'general'">
        <ul class="entries backuplog">
            <li ng-show="GeneralData == null" translate>Loading ...</li>
            <li ng-repeat="item in GeneralData" style="width: 100%">
                <div ng-click="expanded = !expanded" class="entryline clickable">
                    <i ng-show="item.Result" class="{{ResultIcon(item.Result.ParsedResult)}}"></i>
                    {{item.Timestamp | parsetimestamp}} - {{"Operation" | translate}}: {{item.Result ? item.Result.MainOperation : item.Type | translate}}
                    <i style="float: right" class="fa fa-angle-{{expanded ? 'up': 'down'}}"></i>
                    <div style="clear: both;"></div>
                </div>
                <div ng-show="expanded && item.Result" class="backup-result">
                    <div class="one">
                        <span class="title" translate>Time</span>
                        <span class="item">
                            <span class="key" translate>Start </span>
                            <span class="value">{{ parseTimestampToSeconds(item.Result.BeginTime) }}</span>
                        </span>
                        <span class="item">
                            <span class="key" translate>End </span>
                            <span class="value">{{ parseTimestampToSeconds(item.Result.EndTime) }}</span>
                        </span>
                        <span class="item">
                            <span class="key" translate>Duration </span>
                            <span class="value">{{ formatDuration(item.Result.Duration) }}</span>
                        </span>
                    </div>
                    <div class="two"> 
                        <span class="title" translate>Files</span>
                        <span class="item">
                            <span class="key" translate>Examined </span>
                            <span class="value">{{ item.Result.ExaminedFiles }} ({{ formatSize(item.Result.SizeOfExaminedFiles) }})</span>
                        </span>
                        <span class="item">
                            <span class="key" translate>Opened </span>
                            <span class="value">{{ item.Result.OpenedFiles }} ({{ formatSize(item.Result.SizeOfOpenedFiles) }})</span>
                        </span>
                        <span class="item">
                            <span class="key" translate>Added </span>
                            <span class="value">{{ item.Result.AddedFiles }} ({{ formatSize(item.Result.SizeOfAddedFiles) }})</span>
                        </span>
                        <span class="item">
                            <span class="key" translate>Modified </span>
                            <span class="value">{{ item.Result.ModifiedFiles }} ({{ formatSize(item.Result.SizeOfModifiedFiles) }})</span>
                        </span>
                        <span class="item">
                            <span class="key" translate>Deleted</span>
                            <span class="value">{{ item.Result.DeletedFiles }} ({{ formatSize(item.Result.SizeOfDeletedFiles) }})</span>
                        </span>
                    </div>
                    <div class="wide three">
                        <span ng-show="item.Result.TestResults" class="item">
                            <span ng-click="tr_expanded = !tr_expanded" style="cursor: pointer">
                                <i class="{{ResultIcon(item.Result.TestResults.ParsedResult)}}"></i>
                                <span class="key" translate>Test Phase</span>
                                <span class="value"><i class="fa fa-angle-{{tr_expanded ? 'up': 'down'}}"></i></span>
                            </span>
                            <div ng-show="tr_expanded" style="margin: 10px;">
                            </div>
                        </span>
                        <span ng-show="item.Result.CompactResults" class="item">
                            <span ng-click="cr_expanded = !cr_expanded" style="cursor: pointer">
                                <i class="{{ResultIcon(item.Result.CompactResults.ParsedResult)}}"></i>
                                <span class="key" translate>Compact Phase</span>
                                <span class="value"><i class="fa fa-angle-{{cr_expanded ? 'up': 'down'}}"></i></span>
                            </span>
                            <div ng-show="cr_expanded" style="margin: 10px;">
                            </div>
                        </span>
                        <span ng-show="item.Result.DeleteResults" class="item">
                            <span ng-click="dr_expanded = !dr_expanded" style="cursor: pointer">
                                <i class="{{ResultIcon(item.Result.DeleteResults.ParsedResult)}}"></i>
                                <span class="key" translate>Delete Phase</span>
                                <span class="value"><i class="fa fa-angle-{{dr_expanded ? 'up': 'down'}}"></i></span>
                            </span>
                            <div ng-show="dr_expanded" style="margin: 10px;">
                            </div>
                        </span>
                        <span ng-show="item.Result.RepairResults" class="item">
                            <span ng-click="rr_expanded = !rr_expanded" style="cursor: pointer">
                                <i class="{{ResultIcon(item.Result.RepairResults.ParsedResult)}}"></i>
                                <span class="key" translate>Repair Phase</span>
                                <span class="value"><i class="fa fa-angle-{{rr_expanded ? 'up': 'down'}}"></i></span>
                            </span>
                            <div ng-show="rr_expanded" style="margin: 10px;">
                            </div>
                        </span>
                        <span ng-show="item.Result.RecreateDatabaseResults" class="item">
                            <span ng-click="rdr_expanded = !rdr_expanded" style="cursor: pointer">
                                <i class="{{ResultIcon(item.Result.RecreateDatabaseResults.ParsedResult)}}"></i>
                                <span class="key" translate>Recreate Database Phase</span>
                                <span class="value"><i class="fa fa-angle-{{rdr_expanded ? 'up': 'down'}}"></i></span>
                            </span>
                            <div ng-show="rdr_expanded" style="margin: 10px;">
                            </div>
                        </span>
                        <span ng-show="item.Result.PurgeResults" class="item">
                            <span ng-click="pr_expanded = !pr_expanded" style="cursor: pointer">
                                <i class="{{ResultIcon(item.Result.PurgeResults.ParsedResult)}}"></i>
                                <span class="key" translate>Compact Phase</span>
                                <span class="value"><i class="fa fa-angle-{{pr_expanded ? 'up': 'down'}}"></i></span>
                            </span>
                            <div ng-show="pr_expanded" style="margin: 10px;">
                            </div>
                        </span>
                        <span class="item">
                            <i class="{{ResultIcon(item.Result.Warnings.length > 0 ? 'Warning' : 'Success')}}"></i>
                            <span class="key" translate>General Warnings </span>
                            <span class="value" ng-click="w_expanded = !w_expanded" ng-style="{ cursor: (item.Result.Warnings.length > 0) ? 'pointer' : '' }">
                                {{ item.Result.Warnings.length }} 
                                <i ng-if="item.Result.Warnings.length > 0" class="fa fa-angle-{{w_expanded ? 'up': 'down'}}"></i>
                            </span>
                            <div ng-show="w_expanded" style="margin: 10px;">
                                <ul>
                                    <li ng-repeat="warning in item.Result.Warnings track by $index">{{warning}}</li>
                                </ul>
                            </div>
                        </span>
                        <span class="item">
                            <i class="{{ResultIcon(item.Result.Errors.length > 0 ? 'Error' : 'Success')}}"></i>
                            <span class="key" translate>General Errors </span>
                            <span class="value" ng-click="e_expanded = !e_expanded" ng-style="{ cursor: (item.Result.Errors.length > 0) ? 'pointer' : '' }">
                                {{ item.Result.Errors.length }} 
                                <i ng-if="item.Result.Errors.length > 0" class="fa fa-angle-{{e_expanded ? 'up': 'down'}}"></i>
                            </span>
                            <div ng-show="e_expanded" style="margin: 10px;">
                                <ul>
                                    <li ng-repeat="warning in item.Result.Warnings track by $index">{{warning}}</li>
                                </ul>
                            </div>
                        </span>  
                    </div>
                    <div class="item wide four">
                        <span class="key" translate>Complete log</span>
                        <div class="prewrapped-text exceptiontext">{{ item.Formatted }}</div>
                    </div>
                </div>
                <div ng-show="expanded && !item.Result" class="prewrapped-text exceptiontext">{{item.Message}}</div>
            </li>
        </ul>
        <div ng-show="GeneralData != null &amp;&amp; !GeneralDataComplete" class="button" ng-click="LoadMoreGeneralData()">
            <span ng-show="LoadingData" translate>Loading ...</span>
            <span ng-hide="LoadingData" translate>Load older data</span>
        </div>
    </div>

    <div ng-show="Page == 'remote'">
        <ul class="entries">
            <li ng-show="RemoteData == null" translate>Loading ...</li>
            <li ng-repeat="item in RemoteData">
                <div ng-click="expanded = !expanded" class="entryline clickable">
                    {{item.Timestamp | parsetimestamp}}: {{item.Operation}} {{item.Path}}
                    <i style="float: right" class="fa fa-angle-{{expanded ? 'up': 'down'}}"></i>
                    <div style="clear: both;"></div>
                </div>
                <div ng-show="expanded" class="prewrapped-text exceptiontext">{{item.Data}}</div>
            </li>
        </ul>
        <div ng-show="RemoteData != null &amp;&amp; !RemoteDataComplete" class="button" ng-click="LoadMoreRemoteData()">
            <span ng-show="LoadingData" translate>Loading ...</span>
            <span ng-hide="LoadingData" translate>Load older data</span>
        </div>
    </div>
</div>
