<div ng-controller="ChangePasswordController" class="passwordoptions">
  <form class="styled">
    <ul>
      <div class="input mixed multiple">
        <label for="password" translate>New Password</label><br />
        <input
          type="password"
          id="password"
          name="password"
          ng-model="selection.remotePassword"
        />
      </div>
      <div class="input mixed multiple">
        <label for="confirm-password" translate>Confirm new password</label
        ><br />
        <input
          type="password"
          id="confirm-password"
          name="confirm-password"
          ng-model="selection.confirmPassword"
          autocomplete="new-password"
        />
      </div>
    </ul>
  </form>
</div>
