<a href ng-click="hide()" ng-hide="Testing">&lt; {{'Back' | localize }}</a>

<div class="input select">
    <label for="type">{{'Storage Type' | localize }}</label>
    <select name="type" id="type" ng-model="Backend" ng-options="backend.DisplayName group by backend.GroupType for backend in SystemInfo.GroupedBackendModules | orderBy: ['OrderKey', 'GroupType', 'DisplayName'] track by backend.Key">
    </select>
</div>

<div ng-include="TemplateUrl">
</div>

<div ng-show="TemplateUrl == null &amp;&amp; Backend != null">
    <h3>{{'No editor found for the {0} storage type' | localize: ('&quot;' + Backend.DisplayName + '&quot;')}}</h3>
</div>

<div ng-show="Backend == null">
    <h3>{{'Chose a storage type to get started' | localize }}</h3>
</div>

<div class="input textarea" ng-show="ShowAdvancedTextArea">
    <label for="targetOptions">{{'Options' | localize }}</label>
    <a href ng-click="ShowAdvancedTextArea = false" class="advanced-toggle">{{'Edit as list' | localize }}</a>
    <textarea id="targetOptions" name="targetOptions" string-array-as-text ng-model="AdvancedOptions"></textarea>
</div>

<div class="input" ng-hide="ShowAdvancedTextArea">
    <label for="backupOptions">{{'Options' | localize }}</label>
    <a href ng-click="ShowAdvancedTextArea = true" class="advanced-toggle">{{'Edit as text' | localize }}</a>
    <advanced-options-editor ng-option-list="AdvanceOptionList" ng-model="AdvancedOptions"></advanced-options-editor>
</div>

<div class="buttons" ng-hide="Testing">
    <a href ng-click="save()" class="save">{{'OK' | localize }}</a>
    <a href ng-click="testConnection()" class="test-connection" >{{'Test connection' | localize }}</a>
    <a href ng-click="hide()" class="warning cancel">{{'Cancel' | localize }}</a>
</div>

<div class="button testmessage" ng-show="Testing">
    <h3>{{'Testing ...' | localize }}</h3>
</div>
