<div ng-controller="ExportController" class="exportpage">
	<h1>Export backup configuration</h1>
    <form class="styled">
    	<div ng-hide="Completed">
	    	<div class="input checkbox multiple">
	    		<div style="display: inline-block">
	        		<input type="radio" name="export-type" value="commandline" id="type-commandline" ng-model="ExportType" />
	        		<label for="type-commandline">As Command-line</label>
	    		</div>
	        </div>


	    	<div class="input checkbox multiple">
	        	<input type="radio" name="export-type" value="file" id="type-file" ng-model="ExportType"/>
	        	<label for="type-file">To File</label>
	        </div>
	    	<div class="input checkbox multiple" ng-show="ExportType == 'file'">
	        	<input type="checkbox" name="use-encryption" id="use-encryption" ng-model="UseEncryption"  />
	        	<label for="use-encryption">Encrypt file</label>
	        </div>
	    	<div class="input text" ng-show="UseEncryption">        	
	        	<label for="encryption-passphrase">Passphrase</label>
	        	<input type="password" name="encryption-password" id="encryption-passphrase" ng-model="Passphrase" placeholder="Enter encryption passphrase" >
	        </div>

	        <div class="buttons" ng-hide="Connecting">
	            <a href="#" class="submit">Cancel</a>
	            <a href ng-click="doExport()">Export</a>
	        </div>

	        <div class="buttons" ng-show="Connecting">
	            <a href>Exporting ...</a>
	        </div>
        </div>

        <div ng-show="Completed">
	        <div class="input textarea commandline" ng-show="CommandLine != null">
	        	{{CommandLine}}
	        </div>

	        <div ng-show="DownloadURL != null">
	        	<div>If the backup file was not downloaded automatically,</div>
	        	<div>
	        		<a href="{{DownloadURL}}" target="_blank">right click and choose &quot;Save as ...&quot;</a>
	        	</div>
	        </div>

	        <div class="buttons">
	            <a href="#" class="submit">Done</a>
	        </div>
        </div>

    </form>

    <iframe style="display:none" id="export-download-iframe"></iframe>
</div>