<div class="home">
    <div class="state" ng-controller="StateController">

        <div ng-hide="state.programState == 'Running'">
            <strong style="margin-right: 0px;">Backups are currently paused,</strong>
            <div style="display: inline" ng-show="state.pauseTimeRemain > 0">resuming in {{state.pauseTimeRemain | timeremaining}}</div>
            <a href ng-click="sendResume()">click to resume now</a>
        </div>

        <div ng-hide="activeBackup == null">
            <strong>Running task: </strong>
            {{activeBackup.Backup.Name}}

            <a class="button" ng-click="stopTask()">{{StopReqId == state.activeTask.Item1 ? 'Force stop' : 'Stop'}}</a>

            <progress-bar ng-text="StateText" ng-progress="Progress"></progress-bar>

        </div>

        <div ng-show="activeBackup == null &amp;&amp; state.activeTask != null">
            <strong>Running task</strong>

            <a class="button" ng-click="stopTask()">{{StopReqId == state.activeTask.Item1 ? 'Force stop' : 'Stop'}}</a>
        </div>

        <div ng-show="state.activeTask == null &amp;&amp; nextTask != null">
            <strong>Next task:</strong>
            {{nextTask.Backup.Name}}
        </div>

        <div ng-show="state.activeTask == null &amp;&amp; nextTask == null &amp;&amp; nextScheduledTask != null"><strong>Next scheduled task:</strong> {{nextScheduledTask.Backup.Name}} at {{nextScheduledTime | date: 'medium'}}</div>

        <div ng-show="state.activeTask == null &amp;&amp; nextTask == null &amp;&amp; nextScheduledTask == null">No scheduled tasks, you can manually start a task</div>

    </div>

    <div class="tasks" ng-controller="HomeController">
        <div class="tasklist">
            <div ng-repeat="item in backups" class="task">
                <a href ng-click="$parent.ContextMenuID == item.Backup.ID ? $parent.ContextMenuID = null : $parent.ContextMenuID = item.Backup.ID">{{item.Backup.Name}}</a>

                <dl class="contextmenu" ng-show="$parent.ContextMenuID == item.Backup.ID">
                    <dt>Operations:</dt>
                    <dd>
                        <p ng-click="doRun(item.Backup.ID)">Run now</p>
                        <p ng-click="doRestore(item.Backup.ID)">Restore files ...</p>
                    </dd>

                    <dt>Configuration:</dt>
                    <dd>
                        <p ng-click="doEdit(item.Backup.ID)">Edit ...</p>
                        <p ng-click="doExport(item.Backup.ID)">Export ...</p>
                        <p ng-click="doDelete(item.Backup.ID, item.Backup.Name)">Delete</p>
                        
                    </dd>

                    <dt>Advanced:</dt>
                    <dd>
                        <p ng-click="doLocalDb(item.Backup.ID)">Manage local database ...</p>
                        <p ng-click="doVerifyRemote(item.Backup.ID)">Verify backup files</p>
                    </dd>

                    <dt>Reporting:</dt>
                    <dd>
                        <p ng-click="doShowLog(item.Backup.ID)">Show log ...</p>
                        <p ng-click="doCreateBugReport(item.Backup.ID)">Create bug report ...</p>
                    </dd>
                </dl>

                <dl>
                    <dt>Last successful run:</dt>
                    <dd ng-hide="item.Backup.Metadata == null || item.Backup.Metadata.LastBackupFinished == null">{{item.Backup.Metadata.LastBackupFinished | date :'medium'}}</dd>
                    <dd ng-show="item.Backup.Metadata == null || item.Backup.Metadata.LastBackupFinished == null">
                    Never - <a href class="action-link" ng-click="doRun(item.Backup.ID)">Run now</a>
                    </dd>

                    <div ng-hide="item.Backup.Metadata == null || item.Backup.Metadata.NextScheduledRun == null">
                        <dt>Next scheduled run:</dt>
                        <dd>{{item.Backup.Metadata.NextScheduledRun | date :'medium'}}</dd>
                    </div>
                    <div ng-hide="item.Backup.Metadata == null">
                        <div ng-hide="item.Backup.Metadata.SourceSizeString == null">
                            <dt>Source:</dt>
                            <dd>{{item.Backup.Metadata.SourceSizeString}}</dd>
                        </div>
                        <div ng-hide="item.Backup.Metadata.SourceSizeString == null">
                            <dt>Backup:</dt>
                            <dd>{{item.Backup.Metadata.TargetSizeString}}</dd>
                        </div>
                    </div>
                </dl>
            </div>
        </div>
    </div>
</div>