<div class="home">
    <div class="state" ng-controller="StateController">

        <div ng-hide="state.programState == 'Running'">
            <strong style="margin-right: 0px;">Backups are currently paused,</strong>
            <div style="display: inline" ng-show="state.pauseTimeRemain > 0">resuming in {{state.pauseTimeRemain | timeremaining}}</div>
            <a href ng-click="sendResume()">click to resume now</a>
        </div>

        <div ng-hide="activeBackup == null">
            <strong>Running backup</strong>
            {{activeBackup.Backup.Name}}

            <div class="progress" style="min-height: 30px; border: 1px solid;">
                <span>{{ServerStatus.progress_state_text[state.lastPgEvent.Phase] || state.lastPgEvent.Phase}}</span>

                <div class="progress-bar progress-bar-striped" ng-class="{active: state.lastPgEvent.OverallProgress <= 0}" role="progressbar" aria-valuenow="{{state.lastPgEvent.OverallProgress * 100}}" aria-valuemin="0" aria-valuemax="100" style="width:{{state.lastPgEvent.OverallProgress * 100}}%">
                </div>
            </div>
        </div>

        <div ng-show="activeBackup == null &amp;&amp; state.activeTask != null">
            <strong>Running task</strong>
        </div>

        <div ng-show="state.activeTask == null &amp;&amp; state.SchedulerQueueIds != null &amp;&amp; state.SchedulerQueueIds.length > 0">
            <strong>Next task:</strong>
            {{nexttask}}
        </div>

        <div ng-show="state.activeTask == null &amp;&amp; (state.SchedulerQueueIds == null || state.SchedulerQueueIds.length == 0)">No scheduled tasks, you can manually start a task</div>

    </div>

    <div class="tasks" ng-controller="HomeController">
        <div class="tasklist">
            <h3><p ng-if="backups.length > 0">Scheduled backups:</p></h3>
            <div ng-repeat="item in backups" class="task">
                <a href="#/edit/{{item.Backup.ID}}">{{item.Backup.Name}}</a>
                <dl>
                    <dt>Last successful run:</dt>
                    <dd ng-hide="item.Backup.Metadata == null || item.Backup.Metadata.LastBackupFinished == null">{{item.Backup.Metadata.LastBackupFinished | date :'medium'}}</dd>
                    <dd ng-show="item.Backup.Metadata == null || item.Backup.Metadata.LastBackupFinished == null">
                    Never - <a href class="action-link" ng-click="runBackup(item.Backup.ID)">Run now</a>
                    </dd>

                    <div ng-hide="item.Schedule == null">
                        <dt>Next run:</dt>
                        <dd>{{item.Schedule.Time | date :'medium'}}</dd>
                    </div>
                    <div ng-hide="item.Backup.Metadata == null">
                        <div ng-hide="item.Backup.Metadata.SourceSizeString == null">
                            <dt>Source:</dt>
                            <dd>{{item.Backup.Metadata.SourceSizeString}}</dd>
                        </div>
                        <div ng-hide="item.Backup.Metadata.SourceSizeString == null">
                            <dt>Backup:</dt>
                            <dd>{{item.Backup.Metadata.TargetSizeString}}</dd>
                        </div>
                    </div>
                </dl>
            </div>
        </div>
    </div>
</div>