<div ng-controller="ImportController" class="importpage">
    <h1>{{'Import backup configuration' | localize}}</h1>
    <form enctype="multipart/form-data" id="import-form" class="styled" method="POST" action="{{ImportURL}}" target="submit-target">

        <div class="input text">
            <label for="file">{{'Configuration file:' | localize}}</label>
            <input type="file" name="config"  id="file" />
        </div>

        <div class="input text">            
            <label for="passphrase">{{'Passphrase (if encrypted)' | localize}}</label>
            <input type="password" name="passphrase" id="passphrase" placeholder="{{'Enter encryption passphrase' | localize}}" >
        </div>

        <input type="hidden" name="callback" value="{{CallbackMethod}}">

        <div class="buttons" ng-hide="Connecting">
            <a href="#" class="submit">{{'Cancel' | localize}}</a>
            <a href ng-click="doSubmit()">{{'Import' | localize}}</a>
        </div>
    
        <div class="buttons" ng-show="Connecting">
            <a href>{{'Importing ...' | localize}}</a>
        </div>
    </form>

    <iframe style="display:none" id="submit-target" name="submit-target"></iframe>

<div>
