<div class="pause" ng-controller="PauseController">
    <h1>{{'Pause controls' | localize}}</h1>
    
    <form class="styled">

        <ul>
            <li ng-show="state.programState != 'Running'">
                <a href ng-click="resume()" class="resume">{{'Resume now' | localize}}</a>
            </li>

            <li>
                <a href ng-click="pause('5m')" class="pause-5">{{'{0} Minutes' | localize:5 }}</a>
            </li>
            <li>
                <a href ng-click="pause('10m')" class="pause-10">{{'{0} Minutes' | localize:10 }}</a>
            </li>
            <li>
                <a href ng-click="pause('15m')" class="pause-15">{{'{0} Minutes' | localize:15 }}</a>
            </li>
            <li>
                <a href ng-click="pause('30m')" class="pause-30">{{'{0} Minutes' | localize:30 }}</a>
            </li>
            <li>
                <a href ng-click="pause('1h')" class="pause-60">{{'{0} Hour' | localize:1 }}</a>
            </li>
            <li>
                <a href ng-click="pause()" class="pause-x">{{'Until resumed' | localize}}</a>
            </li>
        </ul>
    </form>
</div>
