<div class="restore" ng-controller="RestoreDirectController">
    <form id="restore" class="styled">

        <div ng-show="!connecting">
            <backup-edit-uri uri="TargetURL" hide="HideEditUri" ng-show="EditUriState"></backup-edit-uri>

            <div ng-hide="EditUriState">
                <h1>Restore files</h1>
                <div class="input textarea linklabel">
                    <label for="target"><a href class="target" ng-click="EditUriState = true">Connect to &gt;</a></label>
                    <textarea name="target" id="target" ng-model="TargetURL" placeholder="Enter a url, or click the 'Connect to&gt;' link"></textarea>
                </div>
                <div class="input password">
                    <label for="password">Passphrase</label>
                    <input type="password" id="password" name="password" ng-model="EncryptionPassphrase" placeholder="Enter backup passphrase, if any" />
                </div>
                <div class="input textarea">
                    <label for="options">Advanced Options<span class="info">i</span></label>
                    <textarea id="options" name="options" ng-model="ExtendedOptions" placeholder="Enter one option per line in command-line format, eg. --prefix=backup"></textarea>
                </div>
                <div class="buttons" ng-hide="connecting">
                    <a href="#" class="submit">Cancel</a>
                    <a href ng-click="doConnect()">Connect</a>
                </div>
                <div ng-show="connecting">
                    {{ConnectionProgress}}
                </div>
            </div>
        </div>
        
        <div ng-show="connecting == true &amp;&amp; taskid == null">
            {{ConnectionProgress}}
            <div ng-show="serverstate.programState == 'Paused'">
                Server is currently paused, <a ng-click="ServerStatus.resume()">resume now</a>
            </div>
        </div>
    </form>
</div>
