<div class="restore" ng-controller="RestoreController">
    <form id="restore" class="styled">

        <div ng-show="restore_step == 0 &amp;&amp; connecting == false">
            <backup-edit-uri uri="TargetURL" hide="HideEditUri" ng-show="EditUriState"></backup-edit-uri>

            <div ng-hide="EditUriState">
                <h1>Restore files</h1>
                <div class="input textarea linklabel">
                    <label for="target"><a href class="target" ng-click="EditUriState = true">Connect to &gt;</a></label>
                    <textarea name="target" id="target" ng-model="TargetURL" placeholder="Enter a url, or click the 'Connect to&gt;' link"></textarea>
                </div>
                <div class="input password">
                    <label for="password">Passphrase</label>
                    <input type="password" id="password" name="password" ng-model="EncryptionPassphrase" placeholder="Enter backup passphrase, if any" />
                </div>
                <div class="input textarea">
                    <label for="options">Advanced Options<span class="info">i</span></label>
                    <textarea id="options" name="options" ng-model="ExtendedOptions" placeholder="Enter one option per line in command-line format, eg. --prefix=backup"></textarea>
                </div>
                <div class="buttons" ng-hide="connecting">
                    <a href="#" class="submit">Cancel</a>
                    <a href ng-click="doConnect()">Connect</a>
                </div>
                <div ng-show="connecting">
                    {{ConnectionProgress}}
                </div>
            </div>
        </div>

        <div ng-show="restore_step == 1 &amp;&amp; connecting == false">
            <h1>Restore files</h1>
            <div class="input timestamp">
                <label for="restoreversion">Restore from</label>

                <select name="restoreversion" id="restoreversion" ng-model="RestoreVersion" ng-options="fs.Version as fs.DisplayLabel group by fs.GroupLabel for fs in Filesets | orderBy: ['Version']">
                    
                </select>
            </div>

            <div class="input text search overlayButton multiple" style="max-width: none">
                <label for="searchfilter">Search for files</label>
                <input type="search" id="searchfilter" name="searchfilter" ng-model="SearchFilter" placeholder="Type to highlight files" ng-on-enter-press="doSearch()" ng-on-escape-press="clearSearch()" />
                <a href id="searchfiltersubmit" class="button" ng-click="doSearch()" ng-cancelsearch="clearSearch()" ng-enabled="!Searching">{{ Searching ? 'Busy...' : 'Search' }}</a>
            </div>

            <restore-file-picker id="restore_file_picker" ng-sources="Paths" ng-backup-id="BackupID" ng-timestamp="filesetStamps[RestoreVersion + '']" treedata="treedata" ng-selected="Selected" ng-search-filter="SearchFilter" ng-search-mode="InSearchMode">
            </restore-file-picker>
            <!-- <div ng-repeat="value in Selected" >{{value}}</div> -->
            <div class="buttons">
                <a href class="submit" ng-click="onClickNext()">Continue</a>
                <a href class="submit" ng-click="restore_step = 0">Back</a>
            </div>

        </div>

        <div ng-show="restore_step == 2 &amp;&amp; connecting == false" width="auto">
            <h1>Restore options</h1>

            <h2>Where do you want to restore the files to?</h2>
            <div class="input checkbox multiple leftflush">
                <input id="restoretooriginalpath" type="radio" name="restorelocation" ng-model="RestoreLocation" value="direct" />
                <label for="restoretooriginalpath">Original location</label>
            </div>
            <div class="input checkbox multiple leftflush">
                <input id="restoretonewpath" type="radio" name="restorelocation" ng-model="RestoreLocation" value="custom" />
                <label for="restoretonewpath">Pick location</label>
            </div>

            <div ng-show="HideFolderBrowser" class="input text overlayButton multiple" style="max-width: none">
                <label for="restore_path">Folder path</label>
                <input type="text" name="restore_path" id="restore_path" ng-model="RestorePath" placeholder="Enter the destination path" />
                <a href id="file_targetFolderPathAdd" class="button" ng-click="HideFolderBrowser = false">Browse</a>
            </div>

            <div class="input text" ng-hide="HideFolderBrowser">

                <div class="input" style="padding-bottom: 0px">
                    <a href ng-click="ShowHiddenFolders = !ShowHiddenFolders" style="float: right; margin-right: 10px;">{{ShowHiddenFolders ? 'Hide' : 'Show'}} hidden folders</a>

                    <a href ng-click="HideFolderBrowser = true" style="float: right; margin-right: 10px;">Manually type path</a>
                </div>
                
                <label for="folder_path_picker">Folder path</label>
                <destination-folder-picker style="float: left; width: 440px; max-height: " id="folder_path_picker" ng-model="RestorePath" ng-show-hidden="ShowHiddenFolders" ng-hide-user-node="true"></destination-folder-picker>
            </div>

            <h2>How do you want to handle existing files?</h2>
            <div class="input checkbox multiple leftflush">
                <input type="radio" id="restoreoverwrite" name="restoreoverwrite" ng-model="RestoreMode" value="overwrite" />
                <label for="restoreoverwrite">Overwrite</label>
            </div>
            <div class="input checkbox multiple leftflush">
                <input type="radio" id="restorenewcopy" name="restoreoverwrite" ng-model="RestoreMode" value="copy"  />
                <label for="restorenewcopy">Save different versions with timestamp in file name</label>
            </div>



            <h2>Permissions</h2>
            <div class="input checkbox leftflush">
                <input type="checkbox" id="readwritepermissions" />
                <label for="readwritepermissions">Restore read/write permissions</label>
                
            </div>

            <div class="buttons">
                <a href class="submit" ng-click="onStartRestore()">Restore</a>
                <a href class="submit" ng-click="restore_step = 1">Back</a>
            </div>

        </div>

        <div ng-show="restore_step == 3 &amp;&amp; connecting == false">
        </div>

        <div ng-show="connecting == true &amp;&amp; taskid != null">
            <wait-area taskid="taskid" text="ConnectionProgress" ></wait-area taskid="taskid" text="ConnectionProgress">
        </div>
        
        <div ng-show="connecting == true &amp;&amp; taskid == null">
            {{ConnectionProgress}}
        </div>
    </form>
</div>
