<div class="restore" ng-controller="RestoreController">
    <form id="restore" class="styled">

        <div ng-show="restore_step == 0 &amp;&amp; connecting == false">
            <backup-edit-uri uri="TargetURL" hide="HideEditUri" ng-show="EditUriState"></backup-edit-uri>

            <div ng-hide="EditUriState">
                <h1>Restore files</h1>
                <div class="input textarea linklabel">
                    <label for="target"><a href class="target" ng-click="EditUriState = true">Connect to &gt;</a></label>
                    <textarea name="target" id="target" ng-model="TargetURL" placeholder="Enter a url, or click the 'Connect to&gt;' link"></textarea>
                </div>
                <div class="input password">
                    <label for="password">Passphrase</label>
                    <input type="password" id="password" name="password" ng-model="EncryptionPassphrase" placeholder="Enter backup passphrase, if any" />
                </div>
                <div class="input textarea">
                    <label for="options">Advanced Options<span class="info">i</span></label>
                    <textarea id="options" name="options" ng-model="ExtendedOptions" placeholder="Enter one option per line in command-line format, eg. --prefix=backup"></textarea>
                </div>
                <div class="buttons" ng-hide="connecting">
                    <a href="#" class="submit">Cancel</a>
                    <a href ng-click="doConnect()">Connect</a>
                </div>
                <div ng-show="connecting">
                    {{ConnectionProgress}}
                </div>
            </div>
        </div>

        <div ng-show="restore_step == 1 &amp;&amp; connecting == false">
            <h1>Restore files</h1>
            <div class="input timestamp">
                <label for="restoreversion">Restore from</label>

                <select name="restoreversion" id="restoreversion" ng-model="RestoreVersion" ng-options="fs.Version as fs.DisplayLabel group by fs.GroupLabel for fs in Filesets | orderBy: ['Version']">
                    
                </select>
            </div>

            <div class="input text search overlayButton multiple" style="max-width: none">
                <label for="searchfilter">Search for files</label>
                <input type="search" id="searchfilter" name="searchfilter" ng-model="SearchFilter" placeholder="Type to highlight files" ng-on-enter-press="doSearch()" ng-on-escape-press="clearSearch()" />
                <a href id="searchfiltersubmit" class="button" ng-click="doSearch()" ng-cancelsearch="clearSearch()" ng-enabled="!Searching">{{ Searching ? 'Busy...' : 'Search' }}</a>
            </div>

            <restore-file-picker id="restore_file_picker" ng-sources="Paths" ng-backup-id="BackupID" ng-timestamp="filesetStamps[RestoreVersion + '']" treedata="treedata" ng-selected="Selected" ng-search-filter="SearchFilter" ng-search-mode="InSearchMode">
            </restore-file-picker>
            <!-- <div ng-repeat="value in Selected" >{{value}}</div> -->
            <div class="buttons">
                <a href class="submit" ng-click="onClickNext()">Continue</a>
                <a href class="submit" ng-click="restore_step = 0">Back</a>
            </div>

        </div>

        <div ng-show="restore_step == 2 &amp;&amp; connecting == false">
        </div>

        <div ng-show="restore_step == 3 &amp;&amp; connecting == false">
        </div>

        <div ng-show="connecting == true &amp;&amp; taskid != null">
            <wait-area taskid="taskid" text="ConnectionProgress" ></wait-area taskid="taskid" text="ConnectionProgress">
        </div>
        
        <div ng-show="connecting == true &amp;&amp; taskid == null">
            {{ConnectionProgress}}
        </div>
    </form>
</div>
