<div class="settings" ng-controller="SystemSettingsController">
    <h1>Settings</h1>
    
    <form class="styled">
        <h2>Access to user interface</h2>
        <div class="input mixed multiple">
            <input type="checkbox" class="checkbox" id="hasPassword" name="hasPassword" ng-model="requireRemotePassword" />
            <label for="password">Password</label>
            <input type="password" id="password" name="password" ng-model="remotePassword" />
        </div>
        <div class="input checkbox">
            <input type="checkbox" class="checkbox" id="remote" name="remote" ng-model="allowRemoteAccess" />
            <label for="remote">Allow remote access (requires restart)</label>
        </div>
        
        <h2>Pause after startup or hibernation<span class="info">i</span></h2>
        <div class="input mixed multiple">
            <label for="pauseTime">Pause</label>
            <select id="pauseTime" name="pauseTime" ng-model="startupDelayDurationValue">
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
                <option value="5">5</option>
                <option value="10">10</option>
                <option value="15">15</option>
                <option value="30">30</option>
                <option value="45">45</option>
            </select>
            <select id="pauseFormat" name="pauseFormat" ng-model="startupDelayDurationMultiplier">
                <option value="s">Seconds</option>
                <option value="m">Minutes</option>
                <option value="h">Hours</option>
            </select>
        </div>
        
        <h2>Donation messages</h2>
        <div class="input checkbox">
            <label for="suppresDonationMessages">Donation messages</label>
            <a href ng-click="suppressDonationMessages()" ng-show="!SystemInfo.SuppressDonationMessages">Donation messages are visible, click to hide</a>
            <a href ng-click="displayDonationMessages()" ng-show="SystemInfo.SuppressDonationMessages">Donation messages are hidden, click to show</a>
        </div>

        <h2>Update channel</h2>
        <div class="input checkbox">
            <input type="radio" class="checkbox" id="updateChannelDefault" value="" name="updateChannel" ng-model="updateChannel" />
            <label for="updateChannelDefault">Default ({{SystemInfo.DefaultUpdateChannel}})</label>
            <div class="sublabel" class="">Same as the base install version: {{SystemInfo.BaseVersionName}}</div>
        </div>
        
        <!--
        <div class="input checkbox">
            <input type="radio" class="checkbox" id="updateChannelStable" value="stable" name="updateChannel" ng-model="updateChannel" />
            <label for="updateChannelStable">Stable</label>
            <div class="sublabel" class="">Official releases</div>
        </div>
        -->
        <div class="input checkbox">
            <input type="radio" class="checkbox" id="updateChannelBeta" value="beta" name="updateChannel" ng-model="updateChannel" />
            <label for="updateChannelBeta">Beta</label>
            <div class="sublabel">Try out the new features we are working on. Don't use with important data.</div>
        </div>
        <div class="input checkbox">
            <input type="radio" class="checkbox" id="updateChannelExperimental" value="experimental" name="updateChannel" ng-model="updateChannel" />
            <label for="updateChannelExperimental">Experimental</label>
            <div class="sublabel">Specific builds for developers only.</div>
        </div>
        <div class="input checkbox">
            <input type="radio" class="checkbox" id="updateChannelCanary" value="canary" name="updateChannel" ng-model="updateChannel" />
            <label for="updateChannelCanary">Canary</label>
            <div class="sublabel">Individual builds for developers only.</div>
        </div>
        <!--
        <div class="input checkbox">
            <input type="radio" class="checkbox" id="updateChannelNightly" value="nightly" name="updateChannel" ng-model="updateChannel" />
            <label for="updateChannelNightly">Nightly</label>            
            <div class="sublabel">Regular builds for developers only</div>
        </div>
        -->

        <h2>Usage statistics</h2>
        <div class="input mixed multiple">
            <label for="usagereporterlevel">Anonymous usage reports</label>
            <select id="usagereporterlevel" ng-model="usageReporterLevel">
                <option value="">System default ({{SystemInfo.DefaultUsageReportLevel}})</option>
                <option value="information">Usage statistics, warnings, errors, and crashes</option>
                <option value="warning">Warnings, errors and crashes</option>
                <option value="error">Errors and crashes</option>
                <option value="crash">Crashes only</option>
                <option value="none">None / disabled</option>
            </select>
            <div class="sublabel">Usage reports are always anonymous, but contains information about your hardware and operating system. The usage statistics include what type of backend you are using, how long a backup took, the size of your source data and other similar statistics. The statistics do not contain paths, filenames, usernames, passwords or similar sensitive information. The data is collected to aid in deciding how to improve the user experience and evaluate impact of new features. The collected data may be published in an aggreated form, such as &quot;most popular backend&quot; or &quot;average backup size&quot; at a later time.</div>

        </div>

                    
        <h2>Default options</h2>
        <div class="input textarea" ng-show="ShowAdvancedTextArea">
            <label for="backupOptions">Options</label>
            <a href ng-click="ShowAdvancedTextArea = false" class="advanced-toggle">Edit as list</a>
            <textarea id="backupOptions" ng-model="advancedOptions" string-array-as-text placeholder="Enter one option per line in command-line format, eg. --dblock-size=100MB"></textarea>
        </div>

        <div class="input" ng-hide="ShowAdvancedTextArea">
            <label for="backupOptions">Options</label>
            <a href ng-click="ShowAdvancedTextArea = true" class="advanced-toggle">Edit as text</a>
            <advanced-options-editor ng-option-list="advancedOptionList" ng-model="advancedOptions"></advanced-options-editor>
        </div>
        
        <div class="buttons">
            <a href="#" id="cancel" class="submit">Cancel</a>
            <input type="button" id="save" class="submit" value="Ok" ng-click="save()" />
        </div>
    </form>
</div>