
<div>Path: {{ selectedPath }}</div>

<input type="checkbox" ng-model="showhidden">

<h3>Sources</h3>
<div ng-repeat="value in sourcelist">
	{{value}}
</div>

<h3>Filters</h3>
<div ng-repeat="value in excludelist">
	{{value}}
</div>

<input ng-model="newpath" /><input type="button" value="Add source" ng-click="sourcelist.push(newpath); newpath = '';" />

<input ng-model="newfilter" /><input type="button" value="Add filter" ng-click="excludelist.push(newfilter); newfilter = '';" />

<textarea ng-model="includearray"></textarea>
<textarea ng-model="excludearray"></textarea>
<input type="button" value="Update" ng-click="doUpdate()" />

<source-folder-picker ng-sources="sourcelist" ng-filters="excludelist" show-hidden="showhidden" /> 

