<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Microsoft.Bcl.AsyncInterfaces" version="5.0.0" targetFramework="net471" />
  <package id="Newtonsoft.Json" version="11.0.2" targetFramework="net471" />
  <package id="RestSharp" version="106.10.0" targetFramework="net471" />
  <package id="System.Buffers" version="4.5.1" targetFramework="net471" />
  <package id="System.Memory" version="4.5.4" targetFramework="net471" />
  <package id="System.Numerics.Vectors" version="4.5.0" targetFramework="net471" />
  <package id="System.Runtime.CompilerServices.Unsafe" version="5.0.0" targetFramework="net471" />
  <package id="System.Text.Encodings.Web" version="5.0.0" targetFramework="net471" />
  <package id="System.Text.Json" version="5.0.0" targetFramework="net471" />
  <package id="System.Threading.Tasks.Extensions" version="4.5.4" targetFramework="net471" />
  <package id="System.ValueTuple" version="4.5.0" targetFramework="net471" />
</packages>