name: Integration Tests
permissions:
  contents: read

on: [pull_request, workflow_dispatch]

jobs:
  integration_tests:
    name: Integration tests
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        os: [ubuntu-latest, windows-latest, macos-latest]

    steps:
      - name: Set up .NET
        uses: actions/setup-dotnet@v4
        with:
          dotnet-version: 8.x

      - name: Checkout source
        uses: actions/checkout@v4

      - name: Restore NuGet dependencies
        run: dotnet restore Duplicati.sln

      - name: Build Duplicati
        run: dotnet build --no-restore Duplicati.sln

      - name: Run integration tests
        run: dotnet test --no-build --verbosity minimal --filter "Category=Integration" Duplicati.sln
