<div class="input text">
    <label for="mega_path" translate>Folder path</label>
    <input type="text" name="mega_path" id="mega_path" [(ngModel)]="path" placeholder="Enter folder path name" />
</div>

<div class="input text">
    <label for="mega_username" translate>Username</label>
    <input type="text" name="mega_username" id="mega_username" [(ngModel)]="username" placeholder="Username" />
</div>
<div class="input password">
    <label for="mega_password" translate>Password</label>
    <input autocomplete="new-password" type="password" name="mega_password" id="mega_password" [(ngModel)]="password" placeholder="Password" />
</div>
