<div class="input text">
    <label for="mega_path" i18n>Folder path</label>
    <input type="text" name="mega_path" id="mega_path" [(ngModel)]="path" i18n-placeholder placeholder="Enter folder path name" />
</div>

<div class="input text">
    <label for="mega_username" i18n>Username</label>
    <input type="text" name="mega_username" id="mega_username" [(ngModel)]="username" i18n-placeholder placeholder="Username" />
</div>
<div class="input password">
    <label for="mega_password" i18n>Password</label>
    <input autocomplete="new-password" type="password" name="mega_password" id="mega_password" [(ngModel)]="password" i18n-placeholder placeholder="Password" />
</div>
